{"openapi":"3.0.0","info":{"title":"APIs Banking","version":"1","description":"Endpoints das APIs de banking do BTG PACTUAL Empresas","termsOfService":"https://www.btgpactual.com/empresas/termos-e-politicas/"},"servers":[{"url":"https://api.sandbox.empresas.btgpactual.com/v1","description":"Sandbox"},{"url":"https://api.empresas.btgpactual.com/v1","description":"Produção"}],"paths":{"/companies/{companyId}/pix-cash-in/locations":{"get":{"tags":["Pix Cobrança"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationsCollection"}}},"description":"Locations"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/pix-cash-in","openid empresas.btgpactual.com/pix-cash-in.readonly"]}],"operationId":"GetLocations","summary":"Obter lista de QR Codes","description":"Obtém a lista de locations"},"post":{"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostLocationRequest"}}},"required":true},"tags":["Pix Cobrança"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true}],"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostLocationResponse"}}},"description":"Location Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/pix-cash-in"]}],"summary":"Criar QR Code"}},"/companies/{companyId}/pix-cash-in/locations/{locationId}":{"delete":{"tags":["Pix Cobrança"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"locationId","schema":{"$ref":"#/components/schemas/LocationId"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteLocationResponse"}}},"description":"Location Unlinked"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/pix-cash-in"]}],"summary":"Desvincular QR Code da cobrança."}},"/companies/{companyId}/pix-cash-in/instant-collections":{"get":{"tags":["Pix Cobrança"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"loactionId","schema":{"$ref":"#/components/schemas/LocationId"},"in":"query","required":false},{"name":"initialDate","schema":{"$ref":"#/components/schemas/initialDate"},"in":"query","required":false},{"name":"finalDate","schema":{"$ref":"#/components/schemas/finalDate"},"in":"query","required":false},{"name":"onlyActive","schema":{"$ref":"#/components/schemas/onlyActive"},"in":"query","required":false}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetInstantCollectionsResponse"}}},"description":"Instant Collections"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/pix-cash-in","openid empresas.btgpactual.com/pix-cash-in.readonly"]}],"summary":"Obter lista de cobraças"},"post":{"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostInstantCollections"}}},"required":true},"tags":["Pix Cobrança"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true}],"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostInstantCollectionResponse"}}},"description":"Location Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/pix-cash-in"]}],"summary":"Criar cobrança"}},"/bank-slips":{"get":{"tags":["Boletos"],"parameters":[{"name":"accountId","description":"Identificador da conta. Obtido em /v1/accounts","schema":{"$ref":"#/components/schemas/AccountId"},"in":"query","required":true},{"examples":{"skip":{"value":"4"}},"name":"offset","description":"Número de itens a ignorar antes de formar a response.","schema":{"type":"integer"},"in":"query"},{"examples":{"limit":{"value":"9"}},"name":"limit","description":"Número de itens a retornar","schema":{"default":10,"type":"integer"},"in":"query"},{"examples":{"bankslipid":{"value":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}},"name":"bankSlipId","description":"Código de identificação do boleto","schema":{"$ref":"#/components/schemas/BankSlipId"},"in":"query"},{"examples":{"barcode":{"value":"b226b648-9410-42d3-88f3-497c23608a3d"}},"name":"barcode","description":"Código de barras","schema":{"type":"string"},"in":"query"},{"examples":{"dl":{"value":"13a066bc-1d02-464a-bed9-c98211a00934"}},"name":"digitableline","description":"Linha digitável.","schema":{"type":"string"},"in":"query"},{"examples":{"rf":{"value":"304930"}},"name":"referenceNumber","description":"Número de identificação utilizado pelo parceiro","schema":{"type":"string"},"in":"query"},{"examples":{"sd":{"value":"2099-12-14"}},"name":"startDate","description":"Lista boletos criados desta data em diante.","schema":{"format":"date","type":"string"},"in":"query"},{"examples":{"eddd":{"value":"2099-12-28"}},"name":"endDate","description":"Lista boletos criados até esta data.","schema":{"format":"date","type":"string"},"in":"query"},{"examples":{"spd":{"value":"2099-12-14"}},"name":"startDueDate","description":"Data inicial de prazo do boleto.","schema":{"format":"date","type":"string"},"in":"query"},{"examples":{"edd":{"value":"2099-12-28"}},"name":"endDueDate","description":"Data prazo do boleto sem juros ou multa.","schema":{"format":"date","type":"string"},"in":"query"},{"examples":{"status":{"value":"CREATED"}},"name":"status","description":"Status do boleto","schema":{"$ref":"#/components/schemas/Status"},"in":"query"},{"examples":{"sdd":{"value":"2099-12-14"}},"name":"startPaymentDate","description":"Data inicial de pagamento do boleto.","schema":{"format":"date","type":"string"},"in":"query"},{"examples":{"ed":{"value":"2099-12-28"}},"name":"endPaymentDate","description":"Data limite de pagamento.","schema":{"format":"date","type":"string"},"in":"query"},{"examples":{"payername":{"value":"Nome"}},"name":"payer.name","description":"Nome do pagador.","schema":{"type":"string"},"in":"query"},{"examples":{"txid":{"value":"12345654321"}},"name":"payer.taxId","description":"Documento de identificação do pagador.","schema":{"type":"string"},"in":"query"},{"examples":{"batchid":{"value":"de7-345-gfw313-vqwer4"}},"name":"batchId","description":"Código identificador de lote","schema":{"type":"string"},"in":"query"},{"examples":{"correlationid":{"value":"rrt-2106146278913941374-c-gsa1-8817-29595835-1"}},"name":"correlationId","description":"Identificador da operação no sistema","schema":{"type":"string"},"in":"query"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankSlipPaging"}},"application/pdf":{}},"description":"Bank Slips list"}},"security":[{"oauth2":["empresas.btgpactual.com/bank-slips","empresas.btgpactual.com/bank-slips.readonly"]}],"summary":"Listar boletos."},"post":{"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBankSlip"}}},"required":true},"tags":["Boletos"],"parameters":[{"name":"accountId","description":"Identificador da conta beneficiaria. Obtido em /v1/accounts.","schema":{"$ref":"#/components/schemas/AccountId"},"in":"query","required":true}],"responses":{"202":{"headers":{"Location":{"schema":{"format":"uri","type":"string","example":"https://api.uat.empresas.btgpactual.com/v1/bank-slips?correlationId=rrt-2106146278913941374-c-gsa1-8817-29595835-1"},"description":"Listagem dos boletos com filtro pelo correlationId"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankSlipPostResponse"}}},"description":"Accepted"}},"security":[{"oauth2":["empresas.btgpactual.com/bank-slips"]}],"summary":"Criar Boleto."}},"/bank-slips/batches":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateBankSlip"}}}},"required":true},"tags":["Boletos"],"parameters":[{"name":"accountId","description":"Identificador da conta. Obtido em /v1/accounts","schema":{"$ref":"#/components/schemas/AccountId"},"in":"query","required":true}],"responses":{"202":{"headers":{"Location":{"schema":{"format":"uri","type":"string","example":"https://api.uat.empresas.btgpactual.com/v1/bank-slips?correlationId=rrt-2106146278913941374-c-gsa1-8817-29595835-1"},"description":"Listagem dos boletos com filtro pelo correlationId"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankSlipBatchResponse"}}},"description":"Accepted"}},"security":[{"oauth2":["empresas.btgpactual.com/bank-slips"]}],"summary":"Criar boletos em lote."}},"/bank-slips/{bankSlipId}":{"put":{"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBankSlip"}}},"required":true},"tags":["Boletos"],"parameters":[{"examples":{"bsid":{"value":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}},"name":"bankSlipId","schema":{"$ref":"#/components/schemas/BankSlipId"},"in":"path","required":true},{"name":"accountId","description":"Identificador da conta. Obtido em /v1/accounts","schema":{"$ref":"#/components/schemas/AccountId"},"in":"query","required":true}],"responses":{"202":{"description":"Accepted"}},"security":[{"oauth2":["empresas.btgpactual.com/bank-slips"]}],"summary":"Atualizar um boleto."},"delete":{"tags":["Boletos"],"parameters":[{"name":"bankSlipId","schema":{"$ref":"#/components/schemas/BankSlipId"},"in":"path","required":true},{"name":"accountId","description":"Identificador da conta. Obtido em /v1/accounts","schema":{"$ref":"#/components/schemas/AccountId"},"in":"query","required":true}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["empresas.btgpactual.com/bank-slips"]}],"summary":"Cancelar boleto."},"parameters":[{"name":"bankSlipId","schema":{"$ref":"#/components/schemas/BankSlipId"},"in":"path","required":true}]},"/companies/{companyId}/payments":{"get":{"tags":["Pagamentos"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankSlipPaymentCollection"}}},"description":"Lista de Pagamentos"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/payments.readonly","openid empresas.btgpactual.com/payments"]}],"summary":"Listar iniciação de pagamento"},"post":{"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankSlipPaymentBatch"}}},"required":true},"tags":["Pagamentos"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true}],"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankSlipPaymentBatchResponse"}}},"description":"Iniciação de Pagamento"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/payments"]}],"summary":"Criar iniciação de pagamento"}},"/companies/{companyId}/payments/bankslips":{"get":{"tags":["Pagamentos"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"digitableLines","schema":{"$ref":"#/components/schemas/DigitableLine"},"in":"query"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankSlipPaymentResponse"}}},"description":"Lista de Pagamentos"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/payments.readonly","openid empresas.btgpactual.com/payments"]}],"summary":"Consultar boleto do pagamento"}},"/companies/{companyId}/payments/approvals/{approvalId}":{"delete":{"tags":["Pagamentos"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"approvalId","schema":{"type":"string","example":"6bb6da58-62d8-43c5-92bc-89272272826a"},"in":"path","required":true}],"responses":{"204":{"description":"Pending approval cancelled successfully"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/payments"]}],"operationId":"CancelPendingApprovalPayments","summary":"Cancelar um pagamento pendente de aprovação"}},"/companies/{companyId}/payments/approvals":{"get":{"tags":["Pagamentos"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"externalId","schema":{"$ref":"#/components/schemas/ExternalId"},"in":"query"},{"name":"startDate","schema":{"format":"date","type":"string","example":"2023-05-03T16:00:00"},"in":"query","required":false},{"name":"endDate","schema":{"format":"date","type":"string","example":"2023-05-03T23:59:59"},"in":"query","required":false}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalCollection"}}},"description":"Aprovações"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/approvals.readonly"]}],"summary":"Listar pagamentos aprovados"}},"/companies/{companyId}/payments/{paymentId}":{"get":{"tags":["Pagamentos"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"paymentId","schema":{"$ref":"#/components/schemas/PaymentId"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankSlipPayment"}}},"description":"Pagamento"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/payments.readonly","openid empresas.btgpactual.com/payments"]}],"summary":"Listar um pagamento específico"},"delete":{"tags":["Pagamentos"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"paymentId","schema":{"$ref":"#/components/schemas/PaymentId"},"in":"path","required":true}],"responses":{"204":{"description":"Exclusão do agendamento"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/payments"]}],"summary":"Cancelar um pagamento pendente de aprovação"}},"/companies/{companyId}/payments/{paymentId}/receipt":{"get":{"tags":["Pagamentos"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"paymentId","schema":{"$ref":"#/components/schemas/PaymentId"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"pdf":{"type":"string","example":"JVBERi0xLjQKJdPr6eEKMSAwIG9..."}}}}},"description":"PDF em Base64"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/payments.readonly","openid empresas.btgpactual.com/payments"]}],"summary":"Gerar recibo"}},"/accounts":{"get":{"tags":["Saldo e Extrato"],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BusinessAccount"}}}},"description":"List of available business accounts"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"summary":"Consultar contas que concederam acesso"}},"/accounts/{accountId}":{"get":{"tags":["Saldo e Extrato"],"parameters":[{"name":"accountId","schema":{"$ref":"#/components/schemas/AccountId"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessAccount"}}},"description":"Business Account Data"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"summary":"Consultar conta por AccountId"}},"/accounts/balances":{"get":{"tags":["Saldo e Extrato"],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountBalance"}}}},"description":"List of account balances"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"summary":"Consultar saldo das contas que concederam acesso"}},"/accounts/{accountId}/balances":{"get":{"tags":["Saldo e Extrato"],"parameters":[{"name":"accountId","schema":{"$ref":"#/components/schemas/AccountId"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountBalance"}}},"description":"Account balance"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"summary":"Consultar saldo de uma conta"}},"/accounts/statements":{"get":{"tags":["Saldo e Extrato"],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountStatement"}}}},"description":"Account statements"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"summary":"Consultar extrato das contas que concederam acesso"}},"/accounts/{accountId}/statements":{"get":{"tags":["Saldo e Extrato"],"parameters":[{"name":"accountId","schema":{"$ref":"#/components/schemas/AccountId"},"in":"path","required":true},{"name":"startDate","schema":{"type":"string","example":"2028-12-16T00:00:00.000Z","description":"Começo do período de filtragem"},"in":"query"},{"name":"endDate","schema":{"type":"string","example":"2028-12-17T00:00:00.000Z","description":"Final do período de filtragem"},"in":"query"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountStatement"}},"application/csv":{"schema":{"$ref":"#/components/schemas/AccountStatementFile"}},"application/pdf":{"schema":{"$ref":"#/components/schemas/AccountStatementFile"}}},"description":"Account statements"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"summary":"Consultar extrato de uma conta"}},"/companies/{companyId}/authorized-direct-debits":{"get":{"tags":["Débito Direto e Autorizado"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"status","schema":{"enum":["ENABLED","DISABLED"],"type":"string"},"in":"query","required":false}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizedDirectDebits"}}},"description":"Lista de DDA"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/authorized-direct-debits.readonly"]}],"operationId":"GetDDA","summary":"Consultar Débitos Autorizados","description":"Obtém a lista de DDA."}},"/companies/{companyId}/authorized-direct-debits/{authorizedDirectDebitId}/debits":{"get":{"tags":["Débito Direto e Autorizado"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"authorizedDirectDebitId","schema":{"type":"string","example":"00000000-0000-0000-0000-000000000000"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitColletion"}}},"description":"Lista de Débitos"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/authorized-direct-debits.readonly"]}],"operationId":"GetDebits","summary":"Verificar um débito autorizado específico","description":"Obtém a lista débitos de um DDA."}},"/companies/{companyId}/transfers":{"get":{"tags":["Transferências"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"type","schema":{"enum":["PIX","TED","DOC"],"type":"string","example":"PIX"},"in":"query","required":false}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferCollection"}}},"description":"Transfers"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/transfers","openid empresas.btgpactual.com/transfers.readonly"]}],"operationId":"GetTransfers","description":"Obtém a lista de transferências."},"post":{"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTransfer"}}},"required":true},"tags":["Transferências"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true}],"responses":{"202":{"content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"$ref":"#/components/schemas/Tags"}}}}},"description":"Accepted"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/transfers"]}],"description":"Iniciação de Transferências que ficará pendente de aprovação."}},"/companies/{companyId}/transfers/scheduled":{"get":{"tags":["Transferências"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"type","schema":{"enum":["PIX","TED","DOC"],"type":"string","example":"PIX"},"in":"query","required":false}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferCollection"}}},"description":"Transfers"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/transfers empresas.btgpactual.com/transfers.readonly"]}],"operationId":"GetScheduledTransfers","description":"Obtém a lista de transferências agendadas."}},"/companies/{companyId}/transfers/approvals/{approvalId}":{"delete":{"tags":["Transferências"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"approvalId","schema":{"type":"string","example":"6bb6da58-62d8-43c5-92bc-89272272826a"},"in":"path","required":true}],"responses":{"204":{"description":"Pending approval cancelled successfully"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/transfers"]}],"operationId":"CancelPendingApproval","description":"Cancela uma pendência por um Id."}},"/companies/{companyId}/transfers/approvals":{"get":{"tags":["Transferências"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"externalId","schema":{"type":"string","example":"rrt-2396386635293333864"},"in":"query","required":false}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferApprovalsCollection"}}},"description":"Transfers"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/transfers empresas.btgpactual.com/transfers.readonly"]}],"operationId":"GetTransferApprovals","description":"Obtém a lista de transferências pendentes de aprovação."}},"/companies/{companyId}/transfers/{transferId}":{"get":{"tags":["Transferências"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"transferId","schema":{"type":"string","example":"6bb6da58-62d8-43c5-92bc-89272272826a"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transfer"}}},"description":"Transfers"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/transfers empresas.btgpactual.com/transfers.readonly"]}],"operationId":"GetById","description":"Obtém transferência por um Id."},"delete":{"tags":["Transferências"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"transferId","schema":{"type":"string","example":"6bb6da58-62d8-43c5-92bc-89272272826a"},"in":"path","required":true}],"responses":{"204":{"description":"Transfer cancelled successfully"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/transfers"]}],"operationId":"CancelScheduledTransfer","description":"Obtém transferência por um Id."}},"/companies/{companyId}/transfers/{transferId}/receipt":{"get":{"tags":["Transferências"],"parameters":[{"name":"companyId","schema":{"$ref":"#/components/schemas/CompanyId"},"in":"path","required":true},{"name":"transferId","schema":{"type":"string","example":"6bb6da58-62d8-43c5-92bc-89272272826a"},"in":"path","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"pdf":{"type":"string","example":"JVBERi0xLjQKJdPr6eEKMSAwIG9..."}}}}},"description":"Transfers"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2":["openid empresas.btgpactual.com/transfers empresas.btgpactual.com/transfers.readonly"]}],"operationId":"GetReceipt","description":"Obtém PDF do comprovante em base64."}}},"components":{"schemas":{"initialDate":{"type":"string","description":"Data inicial para a listagem","example":"2024-10-23T00:00:00.000Z"},"finalDate":{"type":"string","description":"Data final para a listagem","example":"2024-10-24T00:00:00.000Z"},"onlyActive":{"type":"string","description":"Mostrar apenas as cobranças ativas. Não aceita o valor como false","example":true},"PostInstantCollectionResponse":{"type":"object","properties":{"id":{"type":"string","example":"40cf72f6-2d21-4894-bed6-ac123412432134"},"txId":{"type":"string","example":"1854785e7c5a12341243213404d9735e"},"taxId":{"type":"string","example":"221342342145"},"status":{"type":"string","example":"ACTIVE"},"pixKey":{"type":"string","example":"2123412421345"},"displayText":{"type":"string","example":""},"amount":{"type":"object","properties":{"value":{"type":"number","example":1.1},"allowCustomerChangeValue":{"type":"boolean","example":false}}},"emv":{"type":"string","example":"00022342342346910014br.gov.bcb.pix2569api.developer.btgpactual.com/v1/p/v2/97af8952d010409eb71ef7bdac06815d2134234214214802BR5924NOMEFICTICIO6009SAO PAULO61080293000062070503***63045937"},"location":{"type":"object","properties":{"id":{"type":"string","example":"fdb111111-8046-4e06-bb63-ed11111b651"},"integrationId":{"type":"string","example":"12878318123421342434324"},"type":{"type":"string","example":"cob"},"path":{"type":"string","example":"28123421421435/fd1234214324-8046-4e06-bb63-ed257511b651.png"},"description":{"type":"string","example":""},"url":{"type":"string","example":"https://static.empresas.btgpactual.com/pix/dynamic/qrcode/12341234123446-4e06-bb63-e12431234412.png"},"integrationUrl":{"type":"string","example":"url-mockada"}}}}},"URL":{"type":"string","example":"https://static.uat.com/pix/dynamic/qrcode/37297902000141/4c972de4-3842-4b89-a2de-99f749a78950.png"},"CompanyId":{"description":"CNPJ da empresa realizando a requisição.","type":"string","example":"30306294000145"},"LocationId":{"type":"string","example":"b226b648-9410-42d3-88f3-497c23608a3d"},"PostLocationRequest":{"required":["type"],"type":"object","properties":{"type":{"type":"string","example":"cob"},"description":{"type":"string","example":"descrição de exemplo"}}},"PostLocationResponse":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/LocationId"},"type":{"type":"string","example":"cob"},"taxId":{"type":"string","example":"30306294000145"},"url":{"$ref":"#/components/schemas/URL"},"description":{"type":"string","example":"descrição de exemplo"},"image":{"format":"byte","type":"string","example":"iVBORw0KGgoAAAANSUhE..."}}},"DeleteLocationResponse":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/LocationId"},"type":{"type":"string","example":"cob"},"taxId":{"type":"string","example":"30306294000145"}}},"Location":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/LocationId"},"type":{"type":"string","example":"cob"},"taxId":{"type":"string","example":"30306294000145"},"url":{"$ref":"#/components/schemas/URL"}}},"LocationsCollection":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Location"}}}},"PostInstantCollections":{"required":["amount","pixKey"],"type":"object","properties":{"pixKey":{"description":"Chave pix","type":"string","example":"13a066bc-1d02-464a-bed9-c98211a00934"},"locationId":{"$ref":"#/components/schemas/LocationId","description":"Id de um QR code já existente"},"expiresIn":{"description":"Tempo para expiração","default":86400,"type":"number"},"amount":{"description":"Espificações de valor da cobrança","type":"object","properties":{"original":{"type":"number","example":12.45},"allowCustomerChangeValue":{"type":"boolean"}}},"displayText":{"description":"Texto de display","type":"string","example":"Pix de Teste"},"payer":{"$ref":"#/components/schemas/PayerPix","description":"Dados do pagador"},"tags":{"description":"Tag de identificação para a transação","type":"object","additionalProperties":{"type":"string"},"example":{"id":"9ee39748ab664c1390e004470e19facf","order":123456,"customerId":9482392}}}},"GetInstantCollectionsResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/InstantCollection"}}}},"InstantCollection":{"type":"object","properties":{"id":{"type":"string","example":"5d4b6d6f-2912-420d-8914-bec4a28dd959"},"txId":{"type":"string","example":"58816103c8b44bafbd751c2d679bdad1"},"taxId":{"type":"string","example":9944559933311},"status":{"type":"string","example":"PAID"},"displayText":{"type":"string","example":"Pix de Teste"},"pixKey":{"type":"string","example":"13a066bc-1d02-464a-bed9-c98211a00934"},"paymentInfo":{"type":"object","properties":{"endToEndId":{"type":"string","example":"E123412343245345s1242"},"paymentDate":{"type":"string","example":"2024-04-22T21:54:46.387Z"},"paidAmount":{"type":"number","example":1.1}}},"amount":{"type":"object","properties":{"value":{"type":"number","example":1.1},"allowCustomerChangeValue":{"default":true,"type":"boolean"}}},"location":{"type":"object","properties":{"id":{"type":"string","example":"6fe0cd21-2a47-4b82-9188-b4dbfc271e89"},"type":{"type":"string","example":"cob"},"taxId":{"type":"string","example":37297902000141},"url":{"$ref":"#/components/schemas/URL"},"description":{"type":"string","example":null},"path":{"type":"string","example":"123454797000125/a1129999-6b6f-4a82-8371-302d2fd4e2fb.png"},"integrationUrl":{"type":"string","example":"api.developer.btgpactual.com/v1/p/v2/exemplo_de_integration"}}}}},"PayerPix":{"type":"object","properties":{"name":{"description":"Nome do pagador","type":"string","example":"Fulano de Tal"},"taxId":{"description":"CPF/CNPJ do pagador","type":"string","example":11111111111}}},"BankAccount":{"type":"object","properties":{"taxId":{"type":"string","example":30306294000145},"bankCode":{"type":"string","example":208},"name":{"type":"string","example":"Teste"},"currency":{"type":"string","example":"BRL"},"branchCode":{"type":"string","example":50},"number":{"type":"string","example":1234567}}},"AccountId":{"pattern":"^(?<taxId>([0-9]{14})|([0-9]{11}))[-](?<bankCode>[0-9]{3})-(?<branchCode>[0-9]+)-(?<number>[0-9]+)$","type":"string","example":"37297902000141-208-50-003886850"},"UpdateBankSlip":{"required":["amount","dueDate","interests","discounts"],"type":"object","properties":{"amount":{"format":"decimal","description":"Valor da cobrança.","type":"number","example":1500},"dueDate":{"format":"date","description":"Data de vencimento do boleto.","type":"string","example":"2021-04-02"},"interests":{"description":"Juros e multas.","type":"object","properties":{"arrears":{"$ref":"#/components/schemas/InterestRate"},"penalty":{"description":"Multa","required":["value","type"],"type":"object","properties":{"value":{"description":"Valor da Multa","type":"number","example":"1.1"},"type":{"description":"Tipo de aplicacão da Multa","default":"PERCENTAGE","enum":["PERCENTAGE","FIXED_VALUE","NOT_APPLICABLE"],"type":"string"}}}}},"discounts":{"description":"Descontos aplicados.","type":"array","items":{"$ref":"#/components/schemas/Discount"}}}},"DeliveryMedium":{"enum":["EMAIL"],"type":"string"},"Status":{"description":"Status dos boletos. Estão disponíveis webhooks para cada status.","enum":["REQUEST_SUCCESS","REQUEST_ERROR","PROCESSING","CREATED","FAILED","UPDATED","UPDATE_FAILED","CANCELING","CANCELED","CANCEL_FAILED","PROCESSING_PAYMENT","PAID","REVERSED","REJECTED"],"type":"string"},"Discount":{"type":"object","properties":{"value":{"description":"Valor do desconto aplicado.","type":"number","example":"1"},"type":{"description":"Tipo de desconto.","default":"PERCENTAGE","enum":["PERCENTAGE","FIXED_VALUE","NOT_APPLICABLE"],"type":"string"},"dueDate":{"format":"date","description":"Data limite para aplicação do desconto.","type":"string","example":"2099-12-29"}}},"Address":{"required":["zipCode","city","state","street","number"],"type":"object","properties":{"zipCode":{"description":"CEP","type":"string","example":"11122233344"},"city":{"description":"Cidade","type":"string","example":"São Paulo"},"state":{"description":"Estado","type":"string","example":"SP"},"street":{"description":"Logradouro","type":"string","example":"Av. Brigadeiro Faria Lima"},"number":{"description":"Número","type":"string","example":"32"}}},"PayerBoleto":{"description":"Representa o sacado, entidade pagadora do boleto.","required":["name","taxId"],"type":"object","properties":{"name":{"description":"Nome do sacado.","type":"string","example":"Nome"},"email":{"description":"Email do sacado.","type":"string","example":"examplo@example.com"},"taxId":{"description":"Documento CPF do Sacado","type":"string","example":"1234565432"},"phoneNumber":{"description":"Telefone do sacado","type":"string","example":"1123239898"},"address":{"$ref":"#/components/schemas/Address"}}},"InterestRate":{"description":"Taxa de Juros","required":["value","type"],"type":"object","properties":{"value":{"description":"Valor da taxa de juros","type":"number","example":"1.1"},"type":{"description":"Tipo de aplicacão do juros","default":"PERCENTAGE","enum":["PERCENTAGE","FIXED_VALUE","NOT_APPLICABLE"],"type":"string"}}},"BankSlipId":{"format":"uuid","description":"Identificador único do boleto","type":"string"},"BankSlipPaging":{"description":"Estrutura paginada da lista de boletos.","type":"object","properties":{"paging":{"$ref":"#/components/schemas/Paging"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BankSlip"}}}},"BankSlipPostResponse":{"type":"object","properties":{"correlationId":{"type":"string","example":"rrt-2106146278913941374-c-gsa1-8817-29595835-1"},"bankSlipId":{"$ref":"#/components/schemas/BankSlipId"},"status":{"type":"string","example":"CREATED"},"digitableLine":{"type":"string","example":0},"barCode":{"type":"string","example":0},"ourNumber":{"type":"string","example":0},"ourNumberDigit":{"type":"string"},"pixInfo":{"type":"string"}}},"BankSlipBatchResponse":{"type":"object","properties":{"correlationId":{"type":"string","example":"rrt-2106146278913941374-c-gsa1-8817-29595835-1"}}},"BankSlip":{"required":["ourNumber"],"type":"object","properties":{"bankSlipId":{"$ref":"#/components/schemas/BankSlipId"},"correlationId":{"type":"string","example":"rrt-2106146278913941374-c-gsa1-8817-29595835-1"},"createdAt":{"format":"datetime","description":"Data de criação do boleto.","type":"string"},"updatedAt":{"format":"datetime","description":"Data de atualização do boleto.","type":"string"},"paidAt":{"nullable":true,"format":"datetime","description":"Data de pagamento do boleto.","type":"string"},"payer":{"$ref":"#/components/schemas/PayerBoleto"},"referenceNumber":{"description":"Campo utilizado para controles internos do cliente.","type":"string"},"digitableLine":{"description":"Linha digitavel do boleto.","type":"string"},"barCode":{"description":"Código de barras.","type":"string"},"amount":{"format":"decimal","description":"Valor em reais a ser cobrado.","type":"number"},"status":{"$ref":"#/components/schemas/Status"},"dueDate":{"format":"date","description":"Data de vencimento.","type":"string"},"interest":{"description":"Juros e multas.","type":"object","properties":{"arrears":{"$ref":"#/components/schemas/Discount"},"penalty":{"description":"Multa","required":["value","type"],"type":"object","properties":{"value":{"description":"Valor da Multa","type":"number","example":"1.1"},"type":{"description":"Tipo de aplicacão da Multa","default":"PERCENTAGE","enum":["PERCENTAGE","FIXED_VALUE","NOT_APPLICABLE"],"type":"string"}}}}},"discounts":{"description":"Condições de desconto aplicadas. Deve ser aplicada no máximo uma.","type":"array","items":{"$ref":"#/components/schemas/InterestRate"}},"ourNumber":{"description":"Número para identificação. Aceita até 16 dígitos","type":"string"}}},"Paging":{"type":"object","properties":{"total":{"type":"number"},"limit":{"type":"number"},"offset":{"type":"number"}}},"ExternalId":{"type":"string","example":"8725b04c-1354-4ad7-91db-4bbb2138e390"},"OriginTransactionId":{"type":"string","example":"48b33060-7960-4093-bc93-ed9105c3c657"},"PaymentId":{"type":"string","example":"29d42888-a920-4a85-a163-aa25b4937b3f"},"DigitableLine":{"description":"Linha digitavel","type":"string","example":"20890050091195069626700021179601493360000000001"},"Barcode":{"description":"Código de barras","type":"string","example":"20894931200004935000050017010554970003849530"},"Money":{"type":"number","example":0.01},"BankSlipPayment":{"type":"object","properties":{"paymentId":{"$ref":"#/components/schemas/PaymentId"},"type":{"$ref":"#/components/schemas/Type"},"status":{"$ref":"#/components/schemas/PaymentStatus"},"amount":{"$ref":"#/components/schemas/Money"},"scheduledDate":{"format":"date","type":"string","example":"2023-03-20T00:00:00.000Z"},"debitParty":{"type":"object","properties":{"taxId":{"type":"string","example":"00000000000141"},"name":{"type":"string","example":"NOME DA EMPRESA"},"number":{"type":"string","example":"000000050"},"branchCode":{"type":"string","example":"50"},"bankCode":{"type":"string","example":"208"}}},"detail":{"type":"object","properties":{"digitableLine":{"$ref":"#/components/schemas/DigitableLine"},"dueDate":{"$ref":"#/components/schemas/Date"},"payee":{"$ref":"#/components/schemas/Payee"}}},"tags":{"type":"object","properties":{"externalId":{"$ref":"#/components/schemas/ExternalId"},"originTransactionId":{"$ref":"#/components/schemas/OriginTransactionId"}}}}},"Type":{"description":"Boleto de cobrança","enum":["BANKSLIP"],"type":"string"},"PaymentStatus":{"description":"Status do pagamento","enum":["CONFIRMED","CREATED","CANCELED","FAILED","PROCESSED","ADJOURNED","REVERTED","SCHEDULED"],"type":"string","example":"CREATED"},"BankSlipPaymentCollection":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BankSlipPayment"}},"_links":{"type":"object","properties":{"next":{"type":"object","properties":{"href":{"type":"string","example":"/v1/companies/30306294000145/payments?cursor=cGFnZT0yJml0ZW1zUGVyUGFnZT0xMCZ0eXBlPW51bGwmc3RhdHVzPVNFTlQ="},"method":{"type":"string","example":"GET"}}}}}}},"ApprovalCollection":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"approvalId":{"type":"string","example":"cce9e70b-1fdf-4ce0-a01a-d995d7c48e46"},"status":{"type":"string","example":"Authorized"},"createdAt":{"$ref":"#/components/schemas/DateAt"},"updatedAt":{"$ref":"#/components/schemas/DateAt"},"items":{"type":"array","items":{"$ref":"#/components/schemas/BankSlipPayment"}},"tags":{"type":"object","properties":{"externalId":{"$ref":"#/components/schemas/ExternalId"}}}}}},"_links":{"$ref":"#/components/schemas/ApprovalLink"}}},"Date":{"format":"date","type":"string","example":"2023-05-03"},"DateAt":{"format":"date","type":"string","example":"2023-05-03T19:45:21.862156"},"ApprovalLink":{"type":"object","properties":{"next":{"type":"object","properties":{"href":{"type":"string","example":"/v1/companies/30306294000145/approvals?cursor=cGFnZT0yJml0ZW1zUGVyUGFnZT0xMCZ0eXBlPW51bGwmc3RhdHVzPVNFTlQ="},"method":{"type":"string","example":"GET"}}}}},"Payee":{"type":"object","properties":{"socialName":{"type":"string","example":"NOME DA EMPRESA"},"fantasyName":{"type":"string","example":"NOME DA EMPRESA"},"taxId":{"type":"string","example":"00000000000145"},"bankCode":{"type":"string","example":"208"}}},"BankSlipPaymentBatch":{"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/BankSlipPaymentIssue"}},"tags":{"type":"object","properties":{"externalId":{"$ref":"#/components/schemas/ExternalId"}}}}},"BankSlipPaymentIssue":{"required":["type","amount","scheduledDate","debitParty","detail"],"type":"object","properties":{"type":{"$ref":"#/components/schemas/Type"},"amount":{"$ref":"#/components/schemas/Money"},"debitParty":{"type":"object","properties":{"branchCode":{"type":"string","example":"50"},"number":{"type":"string","example":"000000050"}}},"scheduledDate":{"format":"date","type":"string","example":"2023-04-10T00:00:00.000Z"},"detail":{"required":["digitableLine"],"type":"object","properties":{"digitableLine":{"$ref":"#/components/schemas/DigitableLine"}}},"tags":{"type":"object","properties":{"externalId":{"$ref":"#/components/schemas/ExternalId"},"originTransactionId":{"$ref":"#/components/schemas/OriginTransactionId"}}}}},"BankSlipPaymentBatchResponse":{"type":"object","properties":{"tags":{"type":"object","properties":{"externalId":{"$ref":"#/components/schemas/ExternalId"}}},"_links":{"$ref":"#/components/schemas/BankSlipPaymentResponseLink"}}},"BankSlipPaymentResponseLink":{"type":"object","properties":{"getApproval":{"type":"object","properties":{"href":{"type":"string","example":"/companies/30306294000145/payments/approvals?externalId=8725b04c-1354-4ad7-91db-4bbb2138e390"},"method":{"type":"string","example":"GET"}}}}},"BankSlipPaymentResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"amount":{"$ref":"#/components/schemas/Money"},"interest":{"$ref":"#/components/schemas/Money"},"fine":{"$ref":"#/components/schemas/Money"},"discount":{"$ref":"#/components/schemas/Money"},"barcode":{"$ref":"#/components/schemas/Barcode"},"digitableLine":{"$ref":"#/components/schemas/DigitableLine"},"dueDate":{"$ref":"#/components/schemas/Date"},"expirationDate":{"$ref":"#/components/schemas/Date"},"payee":{"$ref":"#/components/schemas/Payee"}}}}}},"BankCode":{"type":"string","example":"208"},"AccountType":{"enum":["ESCROW","TRANSACTION"],"type":"string","example":"TRANSACTION"},"Currency":{"enum":["BRL","CLP"],"type":"string","example":"BRL"},"AccountStatus":{"enum":["ACTIVE","PARTIAL_BLOCK","TOTAL_BLOCK","INACTIVE","CLOSED","CLOSING"],"type":"string","example":"ACTIVE"},"AccountInformation":{"type":"object","properties":{"taxId":{"type":"string","example":"37297902000141"},"bankCode":{"$ref":"#/components/schemas/BankCode"},"type":{"$ref":"#/components/schemas/AccountType"},"currency":{"$ref":"#/components/schemas/Currency"},"branchCode":{"type":"string","example":"50"},"number":{"type":"string","example":3886850},"status":{"$ref":"#/components/schemas/AccountStatus"}}},"BusinessAccount":{"type":"object","allOf":[{"$ref":"#/components/schemas/AccountInformation"}],"properties":{"accountId":{"$ref":"#/components/schemas/AccountId"}}},"Balance":{"type":"object","properties":{"amount":{"format":"decimal","type":"number","example":6000.5},"currency":{"$ref":"#/components/schemas/Currency"}}},"BlockedBalance":{"type":"object","allOf":[{"$ref":"#/components/schemas/Balance"}],"properties":{"date":{"format":"date","type":"string","example":"2021-05-02"}}},"AccountBalance":{"type":"object","properties":{"accountId":{"$ref":"#/components/schemas/AccountId"},"available":{"$ref":"#/components/schemas/Balance"},"blocked":{"$ref":"#/components/schemas/BlockedBalance"}}},"TransactionId":{"format":"uuid","type":"string","example":"144b543fa78c495387754b5ccec35da2"},"TransactionType":{"enum":["TED","DOC","PIX","..."],"type":"string","example":"PIX"},"CreditDebitIndicator":{"enum":["CREDIT","DEBIT"],"type":"string","example":"DEBIT"},"Transaction":{"type":"object","properties":{"transactionId":{"$ref":"#/components/schemas/TransactionId"},"dateTime":{"format":"datetime","type":"string","example":"2021-05-31T21:54:18.592Z"},"creditDebitIndicator":{"$ref":"#/components/schemas/CreditDebitIndicator"},"type":{"$ref":"#/components/schemas/TransactionType"},"description":{"type":"string","example":"PIX CASH OUT EXTERNO enviada para VECHI CONSULTORIA E PROJETOS LTDA"},"relatedParty":{"$ref":"#/components/schemas/AccountInformation"},"amount":{"format":"decimal","type":"number","example":100},"currency":{"$ref":"#/components/schemas/Currency"},"tags":{"type":"object","additionalProperties":{"type":"string"},"example":{"order":"abc123","customer":"123"}}}},"AccountStatement":{"type":"object","properties":{"accountId":{"$ref":"#/components/schemas/AccountId"},"transactions":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}}}},"AccountStatementFile":{"format":"binary","description":"An account statement file in one of application/pdf or application/csv format","type":"string"},"Bank":{"type":"object","properties":{"bankCode":{"$ref":"#/components/schemas/BankCode"},"ispb":{"type":"string"},"name":{"type":"string"},"fullName":{"type":"string"}}},"Tags":{"type":"object","additionalProperties":{"type":"string"},"example":{"order":"abc123","customer":"123"}},"BadRequest":{"type":"object","properties":{"error":{"type":"string"},"errorDescription":{"type":"string"}}},"AuthorizedDirectDebits":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"authorizedDirectDebitId":{"type":"string","example":"00000000-0000-0000-0000-000000000000"},"status":{"type":"string","example":"ENABLED"},"owner":{"type":"object","properties":{"taxId":{"type":"string","example":"30306294000145"},"name":{"type":"string","example":"NOME DA EMPRESA"}}},"_links":{"type":"object","properties":{"listDebits":{"type":"object","properties":{"href":{"type":"string","example":"/v1/companies/30306294000145/authorized-direct-debits/00000000-0000-0000-0000-000000000000/debits"},"method":{"type":"string","example":"GET"}}}}}}}}}},"DebitColletion":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"debitId":{"type":"string","example":"00000000-0000-0000-0000-000000000001"},"authorizedDirectDebitId":{"type":"string","example":"00000000-0000-0000-0000-000000000000"},"status":{"type":"string","example":"CREATED"},"amount":{"type":"number","example":0.01},"dueDate":{"format":"date","type":"string","example":"2023-02-28T00:00:00.000Z"},"expirationDate":{"format":"date","type":"string","example":"2024-02-28T00:00:00.000Z"},"digitableLine":{"type":"string","example":"20800000000000000000000000000000000000000000001"},"payee":{"type":"object","properties":{"taxId":{"type":"string","example":"30306294000145"},"fantasyName":{"type":"string","example":"NOME FANTASIA"},"socialName":{"type":"string","example":"NOME SOCIAL"},"bank":{"type":"object","properties":{"code":{"type":"string","example":208},"name":{"type":"string","example":"BANCO BTG PACTUAL S.A."}}}}}}}},"_links":{"$ref":"#/components/schemas/Pagination"}}},"Pagination":{"type":"object","properties":{"next":{"type":"object","properties":{"href":{"type":"string","example":"/v1/companies/30306294000145/authorized-direct-debits/00000000-0000-0000-0000-000000000000/debits?cursor=eyJvZmZzZXQiOiAxMCwgImxpbWl0IjogMTB9"},"method":{"type":"string","example":"GET"}}}}},"CreateTransfer":{"required":["amount","scheduledDate","type","debitParty","creditParty","reason"],"type":"object","properties":{"amount":{"type":"number","example":20.02},"scheduledDate":{"format":"date","type":"string","example":"2021-05-02T00:00:00.000Z"},"reason":{"pattern":"^[a-zA-Z0-9 ]{0,140}$","type":"string","example":"mensagem do comprovante"},"type":{"enum":["PIX","TED","TEF"],"type":"string"},"debitParty":{"type":"object","properties":{"branchCode":{"type":"string","example":50},"number":{"type":"string","example":0}}},"creditParty":{"$ref":"#/components/schemas/AccountParty"},"tags":{"$ref":"#/components/schemas/Tags"}}},"Transfer":{"type":"object","properties":{"brn":{"type":"string","example":"btg:empresas:banking:transfers:6bb6da58-62d8-43c5-92bc-89272272826a"},"transferId":{"type":"string","example":"6bb6da58-62d8-43c5-92bc-89272272826a"},"transactionId":{"type":"string","example":"521826aa-af5b-4220-8ed2-e60b0c250574"},"type":{"type":"string","example":"PIX"},"amount":{"type":"number","example":1.39},"status":{"type":"string","example":"CONFIRMED"},"reason":{"type":"string","example":"Mensagem"},"scheduledDate":{"format":"date","type":"string","example":"2022-10-10T00:00:00.000Z"},"debitParty":{"$ref":"#/components/schemas/AccountDataWithPersonType"},"creditParty":{"$ref":"#/components/schemas/AccountDataWithPersonType"},"tags":{"$ref":"#/components/schemas/TagsTransac"},"_links":{"$ref":"#/components/schemas/PaginationTransac"}}},"TransferCollection":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Transfer"}}}},"TransferApprovalsCollection":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"approvalId":{"type":"string","example":"6bb6da58-62d8-43c5-92bc-89272272826a"},"transferId":{"type":"string","example":"7cb6da58-62d8-43c3-99bc-89272272811b"},"type":{"type":"string","example":"PIX"},"amount":{"type":"number","example":1.39},"status":{"type":"string","example":"CONFIRMED"},"scheduledDate":{"format":"date","type":"string","example":"2022-10-10T00:00:00.000Z"},"debitParty":{"$ref":"#/components/schemas/AccountDataWithoutAccountType"},"creditParty":{"$ref":"#/components/schemas/AccountDataWithoutAccountType"},"tags":{"$ref":"#/components/schemas/TagsTransac"},"_links":{"$ref":"#/components/schemas/PaginationTransac"}}}}}},"AccountParty":{"oneOf":[{"$ref":"#/components/schemas/AccountData"},{"$ref":"#/components/schemas/PixData"}],"type":"object"},"AccountData":{"required":["bankCode","branchCode","number","accountType","taxId","name","personType"],"type":"object","properties":{"bankCode":{"type":"string","example":208},"branchCode":{"type":"string","example":50},"number":{"type":"string","example":"000000001"},"personType":{"enum":["J","F"],"type":"string"},"accountType":{"$ref":"#/components/schemas/AccountTypeTransac"},"taxId":{"type":"string","example":30306294000145},"name":{"type":"string","example":"BTG PACTUAL"}}},"AccountDataWithPersonType":{"type":"object","properties":{"bankCode":{"type":"string","example":208},"branchCode":{"type":"string","example":50},"number":{"type":"string","example":"000000001"},"accountType":{"$ref":"#/components/schemas/AccountTypeTransac"},"taxId":{"type":"string","example":30306294000145},"name":{"type":"string","example":"BTG PACTUAL"},"personType":{"$ref":"#/components/schemas/PersonType"}}},"AccountDataWithoutAccountType":{"type":"object","properties":{"bankCode":{"type":"string","example":208},"branchCode":{"type":"string","example":50},"number":{"type":"string","example":"000000001"},"taxId":{"type":"string","example":30306294000145},"name":{"type":"string","example":"BTG PACTUAL"}}},"PixData":{"description":"Pode ser usado quando o tipo de transferência for PIX","type":"object","properties":{"keyType":{"$ref":"#/components/schemas/KeyType"},"pixKey":{"type":"string","example":28841256125}}},"KeyType":{"description":"Tipo da chave PIX","enum":["CPF","CNPJ","PHONE","EMAIL","EVP"],"type":"string","example":"CPF"},"AccountTypeTransac":{"enum":["CC","PG"],"type":"string"},"PersonType":{"description":"Pessoa Jurídica ou pessoa física","enum":["J","F"],"type":"string"},"TagsTransac":{"type":"object","properties":{"externalId":{"description":"Identificador da transação que pode ser usado nas consultas","type":"string","example":"rrt-2396386635293333864"}}},"PaginationTransac":{"type":"object","properties":{"next":{"type":"object","properties":{"href":{"type":"string","example":"/v1/companies/30306294000145/transfers?cursor=eyJvZmZzZXQiOiAxMCwgImxpbWl0IjogMTB9"},"method":{"type":"string","example":"GET"}}}}},"CreateBankSlip":{"required":["amount","referenceNumber","payer","dueDate","installments"],"type":"object","properties":{"amount":{"format":"decimal","description":"Valor da cobrança.","type":"number","example":1500},"dueDate":{"format":"date","description":"Data de vencimento do boleto.","type":"string","example":"2021-04-02"},"overDueDate":{"format":"date","description":"Data limite para pagamento do boleto.","type":"string","example":"2029-12-31"},"referenceNumber":{"description":"Número de referencia utilizado pelo parceiro.","type":"string","example":"304930"},"description":{"description":"Descrição da cobrança. Aparece no boleto emitido.","type":"string","example":"descrição"},"payer":{"$ref":"#/components/schemas/PayerBoleto"},"installments":{"description":"Número de parcelas. Para cada parcela um novo boleto é gerado.","default":1,"type":"integer"},"interests":{"description":"Juros e multas.","type":"object","properties":{"arrears":{"$ref":"#/components/schemas/InterestRate"},"penalty":{"description":"Multa","required":["value","type"],"type":"object","properties":{"value":{"description":"Valor da Multa","type":"number","example":"1.1"},"type":{"description":"Tipo de aplicacão da Multa","default":"PERCENTAGE","enum":["PERCENTAGE","FIXED_VALUE","NOT_APPLICABLE"],"type":"string"}}}}},"discounts":{"description":"Condições de desconto aplicadas. Deve ser aplicada no máximo uma.","type":"array","items":{"$ref":"#/components/schemas/Discount"}},"deliveryMediums":{"description":"Configuração de entrega.","type":"array","items":{"$ref":"#/components/schemas/DeliveryMedium"}},"ourNumber":{"description":"Seu número para identificação. Aceita até 16 dígitos.","type":"string","example":"1234567899876543"},"pixInfo":{"description":"Insere no boleto QR code para pagamento via Pix","type":"object","properties":{"generateEmbeddedQrCode":{"type":"boolean"}}}}}},"securitySchemes":{"oauth2":{"flows":{"authorizationCode":{"authorizationUrl":"https://id.sandbox.btgpactual.com/oauth2/authorize","tokenUrl":"https://id.sandbox.btgpactual.com/oauth2/token","scopes":{"openid":"Consultar seu perfil BTG Id","empresas.btgpactual.com/pix-cash-in":"Consultar Pix Cobrança. Emitir Pix Cobrança.","empresas.btgpactual.com/pix-cash-in.readonly":"Consultar Pix Cobrança."}}},"type":"oauth2"}}},"security":[{"oauth2":["openid","empresas.btgpactual.com/pix-cash-in.readonly","empresas.btgpactual.com/authorized-direct-debits.readonly","empresas.btgpactual.com/bank-slips","empresas.btgpactual.com/bank-slips.readonly","openid empresas.btgpactual.com/payments.readonly","openid empresas.btgpactual.com/payments","empresas.btgpactual.com/accounts.readonly"]}],"tags":[{"name":"Pix Cobrança"},{"name":"Saldo e Extrato"},{"name":"Transferências"},{"name":"Débito Direto e Autorizado"},{"name":"Boletos"},{"name":"Pagamentos"}],"externalDocs":{"description":"Documentação e Guias","url":"https://developers.empresas.btgpactual.com/docs/"},"x-readme":{"explorer-enabled":false,"proxy-enabled":true,"samples-enabled":true}}