{"openapi":"3.0.0","info":{"title":"Besitos","version":"1.0.0"},"servers":[{"url":"https://wall.besitos.ai/data"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}},"paths":{"/{partner_id}/{partner_user_id}":{"get":{"tags":["default"],"summary":"User Data API","security":[{"bearerAuth":[]}],"parameters":[{"name":"partner_id","in":"path","schema":{"type":"string"},"required":true},{"name":"partner_user_id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"newExample":{"summary":"newExample","value":{"available":[{"id":"pGvcAPOjPrfU","image_text":"Play Monopoly GO for Monopoly Money and get real cash from KashKick!","title":"Monopoly GO","image":"https://cdn.kashkick.com/offers/y03MMpehiaFL.png","square_image":"https://cdn.kashkick.com/offers/dIAKJaNLUN25.png","large_image":"https://cdn.kashkick.com/offers/o1qjhHBiFbf4.png","card_text":"Play Monopoly GO for Monopoly Money and get real cash from KashKick!","amount":3900,"cpi":15,"url":"http://besitos-service.test/redirect/pGvcAPOjPrfU/b-nRUtXStszDXiqmxje3","description":"Hit GO! Roll the dice! Earn MONOPOLY money, interact with your friends, family members and fellow Tycoons from around the world as you explore the expanding universe of MONOPOLY GO! It’s the new way to play - board flipping cleanup not required! Install (make sure to accept tracking requirements on your device!) and complete Board 26 within 14 days to get $25, and Board 41 within a total of 28 days from the install for an additional $65 for a total reward of $90! In-app purchases are allowed to complete the Board faster!Chargebacks, deleting the app, and/or skipping levels will lead to a reversal of the reward or pending reward.","details":null,"points":[{"title":"Hit GO! Roll the dice! Earn MONOPOLY money, interact with your friends, family members and fellow Tycoons from around the world as you explore the expanding universe of MONOPOLY GO! It’s the new way to play - board flipping cleanup not required!"},{"title":"Complete Board 26 within 14 days to get $25, and Board 41 within a total of 28 days from the install for an additional $65 for a total reward of $90!"}],"goals":[{"goal_id":"pGvcAPOjPrfU_0","amount":0,"text":"Successfully installed the App","days_left":null,"goal_type":"linear"},{"goal_id":"pGvcAPOjPrfU_123","amount":900,"text":"Reach Board 42","days_left":10,"goal_type":"linear"},{"goal_id":"pGvcAPOjPrfU_124","amount":1200,"text":"Reach Board 71","days_left":15,"goal_type":"linear"},{"goal_id":"pGvcAPOjPrfU_125","amount":1800,"text":"Reach Board 101","days_left":25,"goal_type":"non-linear"}]},{"id":"L7HmeCOmxpID","image_text":"Earn cash to Level up playing your favorite game, Yahtzee!","title":"Yahtzee","image":"https://cdn.kashkick.com/offers/nawcLn1QGuxv.jpg","square_image":"https://cdn.kashkick.com/offers/M6J0XK7b7zbb.png","large_image":"https://cdn.kashkick.com/offers/MXHaNLQHQ4cH.jpg","card_text":"Earn cash to Level up playing your favorite game, Yahtzee!","amount":3000,"cpi":12,"url":"http://besitos-service.test/redirect/L7HmeCOmxpID/b-nRUtXStszDXiqmxje3","description":"Welcome to Yahtzee with Buddies! Your classic dice game with a brand-new look! Experience your new Yahtzee game like never before. Challenge your friends, enter tournaments, and complete missions to earn all-new rewards! Hint: In-app purchases help you complete Levels faster! Note: The Level required is indicated next to your profile picture and is NOT your Dice World level as that is a separate event. Please make sure to accept tracking requirements on your device. ﻿Please see additional info for full requirements. ","details":"Users must have newer phones (Android 11 or iPhone 9 or newer) and the latest Operating Systems in order to qualify for this promotion. In addition, playing in Offline Mode may lead to the Events not tracking or rewards reversed. All rewards applied to user accounts will have a Pending Period typically ranging from 1 day to 31 days (average of 14 days) to validate transactions. Pending Rewards may not be redeemed until the transaction(s) have been validated and the reward(s) actualized. Chargebacks, deleting the app, and/or skipping levels will lead to a reversal of the reward or pending reward.New Players Only!","points":[{"title":"Note: Users must have newer phones and the latest Operating Systems (Android 11 or iPhone 9 or higher) in order to qualify for this promotion."},{"title":"Hint: In-app purchases help you complete Levels faster!"}],"goals":[{"goal_id":"L7HmeCOmxpID_0","amount":0,"text":"Successfully installed the App","days_left":null,"goal_type":"linear"},{"goal_id":"L7HmeCOmxpID_223","amount":300,"text":"Reach Level 16","days_left":4,"goal_type":"linear"},{"goal_id":"L7HmeCOmxpID_224","amount":600,"text":"Reach Level 22","days_left":6,"goal_type":"linear"},{"goal_id":"L7HmeCOmxpID_225","amount":2100,"text":"Reach Level 33","days_left":10,"goal_type":"non-linear"}]},{"id":"jq1666289595","image_text":"2,275 users have earned $91,000 within 6 days of playing!","title":"Bingo Blitz","image":"https://cdn.kashkick.com/offers/k0AxV49fgsnd.jpg","square_image":"https://cdn.kashkick.com/offers/mh1666289595.png","large_image":"https://cdn.kashkick.com/offers/3yrEnRBI4ydJ.jpg","card_text":"2,281 users have earned $91,080 within 6 days of playing!","amount":4500,"cpi":14,"url":"http://besitos-service.test/redirect/jq1666289595/b-nRUtXStszDXiqmxje3","description":"Join Blitzy the cat for awesome online bingo missions, online bingo freebies, goodies and more bingo game fun! What are you waiting for? Get playing Bingo Blitz now and embark on a story of fascinating free bingo games to play. In-app purchases are highly recommended to complete Levels faster! Enter the Super Bowl sweepstakes for a chance to win $1 Million.Please see additional info for full requirements. ","details":"Users must have newer phones (Android 11 or iPhone 9 or newer) and the latest Operating Systems in order to qualify for this promotion. In addition, playing in Offline Mode may lead to the Events not tracking or rewards reversed. All rewards applied to user accounts will have a Pending Period typically ranging from 1 day to 31 days (average of 14 days) to validate transactions. Pending Rewards may not be redeemed until the transaction(s) have been validated and the reward(s) actualized. Chargebacks, deleting the app, and/or skipping levels will lead to a reversal of the reward or pending reward.New Players Only!","points":[{"title":"In-app purchases are highly recommended to complete Levels faster!"},{"title":"Enter the Super Bowl sweepstakes for a chance to win $1 Million."}],"goals":[{"goal_id":"jq1666289595_0","amount":0,"text":"Successfully Installed the App","days_left":null,"goal_type":"linear"},{"goal_id":"jq1666289595_22","amount":1500,"text":"Reach Level 81","days_left":7,"goal_type":"linear"},{"goal_id":"jq1666289595_23","amount":2100,"text":"Reach Level 101","days_left":13,"goal_type":"linear"},{"goal_id":"jq1666289595_24","amount":900,"text":"Finish Seychelles","days_left":20,"goal_type":"linear"}]}],"in_progress":[{"id":"vjurzruXb1Qk","image_text":"Unleash Your Inner Dragon: Earn up to $150 with this puzzle game.","title":"Merge Dragons","image":"https://cdn.kashkick.com/offers/784yHkfgp4We.png","square_image":"https://cdn.kashkick.com/offers/mUmWzyRy4pjZ.png","large_image":"https://cdn.kashkick.com/offers/rTiaPqINpVQR.png","card_text":"Unleash Your Inner Dragon: Earn up to $150 with this puzzle game.","amount":4500,"url":"http://besitos-service.test/redirect/vjurzruXb1Qk/b-nRUtXStszDXiqmxje3","description":"Discover a magical land of entertainment and mystery in the world of Merge Dragons! You can combine everything into better and more powerful items for your journey. In a mystical world hidden among the clouds, the vale of Dragonia flourished. The evil Zomblins cast a void across the vale. The only hope to heal the land rests in YOUR magical power to MATCH ANYTHING. Hint: in-app purchases help you build Dragon Power faster!Please see additional info for full requirements.","details":"Users must have newer phones (Android 11 or iPhone 9 or newer) and the latest Operating Systems in order to qualify for this promotion. In addition, playing in Offline Mode may lead to the Events not tracking or rewards reversed. All rewards applied to user accounts will have a Pending Period typically ranging from 1 day to 31 days (average of 14 days) to validate transactions. Pending Rewards may not be redeemed until the transaction(s) have been validated and the reward(s) actualized. Chargebacks, deleting the app, and/or skipping levels will lead to a reversal of the reward or pending reward.New Players Only!","points":[{"title":"Discover a magical land of entertainment and mystery in the world of Merge Dragons! where you can combine everything into better and more powerful items for your journey."},{"title":"Hint: in-app purchases help you build Dragon Power faster!"}],"goals":[{"goal_id":"vjurzruXb1Qk_0","amount":0,"text":"Successfully installed the App","days_left":null,"completed":true,"failed":false,"goal_type":"linear","completed_datetime":"2025-01-29 02:06:18","expires_at":""},{"goal_id":"vjurzruXb1Qk_112","amount":900,"text":"Complete Dragon Power 300","days_left":null,"completed":true,"failed":false,"goal_type":"linear","completed_datetime":"2025-01-30 02:06:18","expires_at":"2025-01-32"},{"goal_id":"vjurzruXb1Qk_113","amount":1500,"text":"Complete Dragon Power 550","days_left":9,"completed":false,"failed":false,"goal_type":"linear","completed_datetime":"","expires_at":"2025-02-01"},{"goal_id":"vjurzruXb1Qk_114","amount":2100,"text":"Complete Dragon Power 1000","days_left":24,"completed":false,"failed":false,"goal_type":"non-linear","completed_datetime":"","expires_at":""}]}],"completed":[{"id":"1QEg0F79JvlJ","image_text":"Build islands, bridges, raid lands, & collect treasure island coins!","title":"Animals & Coins","image":"https://cdn.kashkick.com/offers/PFbZwythiPQ5.png","square_image":"https://cdn.kashkick.com/offers/zYHcEPcims3M.png","large_image":"https://cdn.kashkick.com/offers/ttLKUpI16tyQ.png","card_text":"Build islands and bridges, raid lands, and collect treasure island coins!","amount":0,"url":"","description":"Conquer different islands, steal coins from other players, and prove yourself as the real coin master.Hint: In-app purchases are highly recommended to complete the Levels faster!Please see additional info for full requirements. ","details":"Note: Users must have newer phones (Android 11 or iPhone 9 or newer) and the latest Operating Systems in order to qualify for this promotion. In addition, playing in Offline Mode may lead to the Events not tracking or rewards reversed. All rewards applied to user accounts will have a Pending Period typically ranging from 1 day to 31 days (average of 14 days) to validate transactions. Pending Rewards may not be redeemed until the transaction(s) have been validated and the reward(s) actualized. Chargebacks, deleting the app, and/or skipping levels will lead to a reversal of the reward or pending reward.New Players Only!","points":[{"title":"Explore the animal island, steal coins, and build your kingdom to become the ultimate raid master! Start the coin run, unlock new characters, and discover the amazing animal world."},{"title":"Hint: In-app purchases are highly recommended to complete the Levels faster!"}],"goals":[{"goal_id":"1QEg0F79JvlJ_0","amount":0,"text":"Successfully Installed the App","days_left":null,"completed":true,"failed":false,"goal_type":"linear","completed_datetime":"2025-01-25 02:06:18","expires_at":""},{"goal_id":"1QEg0F79JvlJ_334","amount":450,"text":"Reach Level 68","days_left":null,"completed":false,"failed":true,"goal_type":"linear","completed_datetime":"","expires_at":"2025-01-26"},{"goal_id":"1QEg0F79JvlJ_335","amount":900,"text":"Reach Level 90","days_left":null,"completed":false,"failed":true,"goal_type":"linear","completed_datetime":"","expires_at":"2025-01-27"},{"goal_id":"1QEg0F79JvlJ_336","amount":1350,"text":"Reach Level 150","days_left":null,"completed":false,"failed":true,"goal_type":"linear","completed_datetime":"","expires_at":"2025-01-28"}],"history_amount":2700}],"terms_of_service":"http://besitos-service.test/terms","privacy_policy":"http://besitos-service.test/privacy-policy","faq":"http://besitos-service.test/faq","support":"http://besitos-service.test/support/YB3hWcZ2/tWAek9twniogX0e","currency":"$","balance":"900.00"}}}}}}},"x-readme":{"samples-languages":["shell"]}}},"/partner/conversions":{"get":{"tags":["default"],"summary":"Conversions Data API","security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"newExample":{"summary":"newExample","value":"{\n    \"data\": [\n        {\n            \"user_id\": \"asdfn-234ghhh\",\n            \"transaction_id\": 2601266,\n            \"reward\": 0,\n            \"payout\": 11.05,\n            \"offer_id\": \"tU5z8PU5BIR9\",\n            \"offer_name\": \"Club Vegas Slots\",\n            \"note\": \"Successfully Installed the App\",\n            \"date_time\": \"2024-12-04 06:24:55\",\n            \"reward_local_currency\": 0,\n            \"goal_id\": \"tU5z8PU5BIR9_0\"\n        },\n        {\n            \"user_id\": \"asdfn-234ghhh\",\n            \"transaction_id\": 2601267,\n            \"reward\": 40,\n            \"payout\": 0,\n            \"offer_id\": \"tU5z8PU5BIR9\",\n            \"offer_name\": \"Club Vegas Slots\",\n            \"note\": \"Level 91 Reached\",\n            \"date_time\": \"2024-12-04 06:25:36\",\n            \"reward_local_currency\": 4000,\n            \"goal_id\": \"tU5z8PU5BIR9_133\"\n        },\n    ],\n    \"links\": {\n        \"first\": \"https://wall.besitos.ai/data/partner/conversions?page=1\",\n        \"last\": \"https://wall.besitos.ai/data/partner/conversions?page=1\",\n        \"prev\": null,\n        \"next\": null\n    },\n    \"meta\": {\n        \"current_page\": 1,\n        \"from\": 1,\n        \"last_page\": 1,\n        \"links\": [\n            {\n                \"url\": null,\n                \"label\": \"« Previous\",\n                \"active\": false\n            },\n            {\n                \"url\": \"https://wall.besitos.ai/data/partner/conversions?page=1\",\n                \"label\": \"1\",\n                \"active\": true\n            },\n            {\n                \"url\": null,\n                \"label\": \"Next »\",\n                \"active\": false\n            }\n        ],\n        \"path\": \"https://wall.besitos.ai/data/partner/conversions\",\n        \"per_page\": 1000,\n        \"to\": 6,\n        \"total\": 6\n    }\n}"}}}}}}}},"/partner/offers/{partner_id}":{"get":{"tags":["default"],"summary":"Offer Data API","security":[{"bearerAuth":[]}],"parameters":[{"name":"partner_id","in":"path","required":true,"description":"Your Besitos partner ID","schema":{"type":"string","default":""}},{"name":"device_platform","in":"query","required":false,"description":"Enter a single platform value: android or ios","schema":{"type":"string","default":"android"}},{"name":"offer_id","in":"query","required":false,"description":"Enter the ID of an offer you want to retrieve","schema":{"type":"string","default":""}},{"name":"per_page","in":"query","required":false,"description":"Enter the number of records to display per page","schema":{"type":"string","default":""}},{"name":"page","in":"query","required":false,"description":"Enter the number of the page you want to view","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"newExample":{"summary":"newExample","value":"{\n            \"data\": [\n                {\n                    \"id\": \"K3HmeWOmxpTY\",\n                    \"image_text\": \"Win up to $100! Level up in 10 days.\",\n                    \"title\": \"Yahtzee\",\n                    \"image\": \"https://cdn.kashkick.com/offers/HEv6KrXWrKmc.png\",\n                    \"square_image\": \"https://cdn.kashkick.com/offers/M6J0XK7b7zbb.png\",\n                    \"large_image\": \"https://cdn.kashkick.com/offers/wxg1WkecUmoJ.png\",\n                    \"card_text\": \"Win up to $100! Level up in 10 days. Get paid to beat your friends!\",\n                    \"amount\": 10100,\n                    \"amount_currency\": \"coins\",\n                    \"cpi\": 3.25,\n                    \"url\": \"https://wall.besitos.ai/api-redirect/YB3hWcZ2/L7HmeCOmxpID/bace5138-273b-46b9-9237-6508131b70c2?sub_id=kyc&partner_user_id=\",\n                    \"description\": \"\nWelcome to Yahtzee with Buddies! Your classic dice game with a brand-new look! Experience your new Yahtzee game like never before. Challenge your friends, enter tournaments, and complete missions to earn all-new rewards! \n\nComplete Level 21 within 10 days after installing for $20, and complete Level 32 within the same time to get an additional $80 for a total of $100. Make optional in-app purchases to achieve the Levels faster! \n\nNote: make sure to accept tracking requirements on your device. Offer may not track on older devices. Chargebacks, deleting the app, and/or skipping levels will lead to a reversal of the reward or pending reward.\n\n\",\n                    \"details\": \"General guidelines to complete the offer\",\n                    \"points\": [\n                        {\n                            \"title\": \"Challenge your friends, enter tournaments, and complete missions to earn all-new rewards!\"\n                        },\n                        {\n                            \"title\": \"Complete Level 21 within 10 days after installing for $20, and complete Level 32 within the same time to get an additional $80 for a total of $100.\"\n                        },\n                        {\n                            \"title\": \"Make optional in-app purchases to achieve the Levels faster!\"\n                        }\n                    ],\n                    \"goals\": [\n                        {\n                            \"goal_id\": \"L7HmeCOmxpID_0\",\n                            \"amount\": 0,\n                            \"text\": \"Successfully installed the App\",\n                            \"days_left\": null,\n                            \"goal_type\": \"linear\"\n                        },\n                        {\n                            \"goal_id\": \"L7HmeCOmxpID_199\",\n                            \"amount\": 2100,\n                            \"text\": \"Level 21 Completion\",\n                            \"days_left\": 11,\n                            \"goal_type\": \"linear\"\n                        },\n                        {\n                            \"goal_id\": \"L7HmeCOmxpID_204\",\n                            \"amount\": 8000,\n                            \"text\": \"Level 32 Completion\",\n                            \"days_left\": 11,\n                            \"goal_type\": \"non-linear\"\n                        }\n                    ],\n                    \"budget_status\": \"Active\"\n                },\n                {\n                    \"id\": \"TcC6HeBsCtiN\",\n                    \"image_text\": \"Get ready to enter a world of addictive fun with Domino Dreams!\",\n                    \"title\": \"Domino Dreams\",\n                    \"image\": \"https://cdn.kashkick.com/offers/dwrjAsA4TpQf.png\",\n                    \"square_image\": \"https://cdn.kashkick.com/offers/ffDq8e4c809e.png\",\n                    \"large_image\": \"https://cdn.kashkick.com/offers/NsMM3MCOdPx9.png\",\n                    \"card_text\": \"Get ready to enter a world of addictive fun with Domino Dreams!\",\n                    \"amount\": 4200,\n                    \"amount_currency\": \"coins\",\n                    \"cpi\": 5.2,\n                    \"url\": \"https://wall.besitos.ai/api-redirect/YB3hWcZ2/bdC6HHBsCtiN/bace5138-273b-46b9-9237-6508131b70c2?sub_id=kyc&partner_user_id=\",\n                    \"description\": \"\n👑Welcome to Domino Dreams! Play this fun, free to play domino royal game created for Solitaire and Domino lovers and discover a new world in the most relaxing board game in the world! 👑\n\n🏰Solve challenging domino puzzles and help King Richard on his royal tour adventure! Just play and relax while you enjoy the game's art design.🏰\n\nComplete Level 250 in 10 days after installing to earn $10, and Level 500 in 15 days after installing to earn an additional $40 -- $50 in total.\n\nIn-app purchases can enable you to complete the Levels faster!\n\nNote: Chargebacks, deleting the app, and/or skipping levels may lead to a reversal of a pending reward.\n\n\",\n                    \"details\": \"General guidelines to complete the offer\",\n                    \"points\": [\n                        {\n                            \"title\": \"Complete Level 250 in 10 days after installing to earn $10, and Level 500 in 15 days after installing to earn an additional $40 -- $50 in total.\"\n                        },\n                        {\n                            \"title\": \"Welcome to Domino Dreams! Play this fun, free to play domino royal game created for Solitaire and Domino lovers and discover a new world in the most relaxing board game in the world!\"\n                        }\n                    ],\n                    \"goals\": [\n                        {\n                            \"goal_id\": \"bdC6HHBsCtiN_0\",\n                            \"amount\": 0,\n                            \"text\": \"Successfully installed the App\",\n                            \"days_left\": null,\n                            \"goal_type\": \"linear\"\n                        },\n                        {\n                            \"goal_id\": \"bdC6HHBsCtiN_367\",\n                            \"amount\": 4200,\n                            \"text\": \"Level 500 Completed\",\n                            \"days_left\": 16,\n                            \"goal_type\": \"linear\"\n                        }\n                    ],\n                    \"budget_status\": \"Exhausted\"\n                },\n            ],\n            \"links\": {\n                \"first\": \"https://wall.besitos.ai/data/partner/offers/YB3hWcZ2/kyc?page=1\",\n                \"last\": \"https://wall.besitos.ai/data/partner/offers/YB3hWcZ2/kyc?page=1\",\n                \"prev\": null,\n                \"next\": null\n            },\n            \"meta\": {\n                \"current_page\": 1,\n                \"from\": 1,\n                \"last_page\": 1,\n                \"links\": [\n                    {\n                        \"url\": null,\n                        \"label\": \"« Previous\",\n                        \"active\": false\n                    },\n                    {\n                        \"url\": \"https://wall.besitos.ai/data/partner/offers/YB3hWcZ2/kyc?page=1\",\n                        \"label\": \"1\",\n                        \"active\": true\n                    },\n                    {\n                        \"url\": null,\n                        \"label\": \"Next »\",\n                        \"active\": false\n                    }\n                ],\n                \"path\": \"https://wall.besitos.ai/data/partner/offers/YB3hWcZ2/kyc\",\n                \"per_page\": 1000,\n                \"to\": 2,\n                \"total\": 2\n            }\n        }"}}}}}},"x-readme":{"samples-languages":["php"]}}},"/partner/iap-events":{"get":{"tags":["default"],"summary":"IAP Data API","security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"newExample":{"summary":"newExample","value":{"data":[{"transaction_id":2601348,"user_id":"tWAek9twniogX0e","offer_id":"vjurzruXb1Qk","offer_name":"Yahtzee","amount":6,"date_time":"2025-01-29 02:09:13","goal_id":"vjurzruXb1Qk_290"}],"links":{"first":"http://besitos-service.test/data/partner/iap-events?page=1","last":"http://besitos-service.test/data/partner/iap-events?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"« Previous","active":false},{"url":"http://besitos-service.test/data/partner/iap-events?page=1","label":"1","active":true},{"url":null,"label":"Next »","active":false}],"path":"http://besitos-service.test/data/partner/iap-events","per_page":1000,"to":1,"total":1}}}}}}}}}},"/messages/{partner_id}/upcoming-goals":{"post":{"tags":["default"],"summary":"Messenger API","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"hours_from":1,"hours_to":720,"subscribers":["T7D8uz2Bo5kbdhqWfkjvbfv","tWAek9twniogX0e"],"message_template":"You have {hours} hours left to reach {level} of {game} and earn {reward}. Don't miss the deadline."}}}}},"security":[{"bearerAuth":[]}],"parameters":[{"name":"partner_id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"newExample":{"summary":"newExample","value":{"current_page":1,"data":[{"subscriber_id":"LaQ1VYb5ANTAny25Ig","game":"Alice‘s Dream : Merge Island","level":"level 1079","level_description":"Reach Level 15","hours":3,"currency":"coins","reward":"40 coins","message":"You have 3 hours left to reach level 1079 of Alice‘s Dream : Merge Island and earn 40 coins. Don't miss the deadline."},{"subscriber_id":"LaQ1VYb5ANTAny25Ig","game":"Alice‘s Dream : Merge Island","level":"level 1081","level_description":"Reach Level 20","hours":291,"currency":"coins","reward":"80 coins","message":"You have 291 hours left to reach level 1081 of Alice‘s Dream : Merge Island and earn 80 coins. Don't miss the deadline."}],"first_page_url":"http://besitos-service.test/data/messages/eafLst9T/upcoming-goals?page=1","from":1,"next_page_url":null,"path":"http://besitos-service.test/data/messages/eafLst9T/upcoming-goals","per_page":"2","prev_page_url":null,"to":2}}}}}}},"x-readme":{"samples-languages":["php"]}}}}}