{"openapi":"3.1.0","info":{"title":"Connecteam API documentation","version":"v1"},"servers":[{"url":"https://api.connecteam.com/"}],"paths":{"/me":{"get":{"tags":["Account"],"summary":"Get account name","description":"Retrieve the account name","operationId":"get_account_information_me_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_MeResponse_"}}}}},"security":[{"APIKeyHeader":[]}]}},"/settings/v1/webhooks/{webhookId}":{"get":{"tags":["Settings:v1:Webhook"],"summary":"Get webhook","description":"Retrieve single webhook information by its unique ID","operationId":"get_webhook_settings_v1_webhooks__webhookId__get","parameters":[{"description":"The unique identifier of the webhook","required":true,"schema":{"type":"integer","title":"Webhookid","description":"The unique identifier of the webhook"},"name":"webhookId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_PublicBaseWebhookResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"put":{"tags":["Settings:v1:Webhook"],"summary":"Update Webhook","description":"Update an existing webhook settings by its unique ID.","operationId":"update_webhook_settings_v1_webhooks__webhookId__put","parameters":[{"description":"The unique identifier of the webhook","required":true,"schema":{"type":"integer","title":"Webhookid","description":"The unique identifier of the webhook"},"name":"webhookId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/WebhookUpdateRequest"}],"title":"Webhook","description":"Update data for new webhook"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_PublicBaseWebhookResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Settings:v1:Webhook"],"summary":"Delete webhook","description":"Delete a single webhook configuration by its unique ID","operationId":"delete_webhook_settings_v1_webhooks__webhookId__delete","parameters":[{"description":"The unique identifier of the webhook","required":true,"schema":{"type":"integer","title":"Webhookid","description":"The unique identifier of the webhook"},"name":"webhookId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_WebhookDeleteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/settings/v1/webhooks":{"get":{"tags":["Settings:v1:Webhook"],"summary":"Get webhooks","description":"Retrieves a list of webhook settings associated with the account.","operationId":"get_webhooks_by_type_settings_v1_webhooks_get","parameters":[{"description":"The feature type of the webhook. Current options are: users, forms, time_activity","required":false,"schema":{"type":"string","title":"Featuretype","description":"The feature type of the webhook. Current options are: users, forms, time_activity"},"name":"featureType","in":"query"},{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_WebhookListResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Settings:v1:Webhook"],"summary":"Create webhook","description":"Create individual webhook settings under specified details","operationId":"create_webhook_settings_v1_webhooks_post","requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/WebhookCreateRequest"}],"title":"Webhook","description":"Create data for new webhook"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_PublicBaseWebhookResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/attachments/v1/files/generate-upload-url":{"post":{"tags":["Attachments:v1:Files"],"summary":"Generate upload url","description":"Generates a pre-signed URL that can be used to securely upload an attachment to the cloud. The pre-signed URL ensures temporary access for the upload (300 seconds), and it will be associated with a specific feature within the application.","operationId":"generate_upload_url_attachments_v1_files_generate_upload_url_post","requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/FileURLCreateRequest"}],"title":"Request Upload Url","description":"Create data for new file upload URL"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FileURLResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/attachments/v1/files/complete-upload/{fileId}":{"put":{"tags":["Attachments:v1:Files"],"summary":"Finalize upload","description":"Finalizes the upload process for the attachment identified by the fileId. It confirms and registers the uploaded file, ensuring it is properly associated with the relevant feature.","operationId":"finalize_upload_attachments_v1_files_complete_upload__fileId__put","parameters":[{"description":"The unique identifier for the uploaded filetype","required":true,"schema":{"type":"string","title":"Fileid","description":"The unique identifier for the uploaded filetype"},"name":"fileId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FileCompleteUploadResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/attachments/v1/files/{fileId}":{"get":{"tags":["Attachments:v1:Files"],"summary":"Get file metadata","description":"Retrieve detailed information about a previously uploaded attachment identified by the fileId. The response includes its metadata, and the status of the upload process.","operationId":"get_file_url_attachments_v1_files__fileId__get","parameters":[{"description":"The unique identifier for the uploaded filetype","required":true,"schema":{"type":"string","title":"Fileid","description":"The unique identifier for the uploaded filetype"},"name":"fileId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetFileURLResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/forms/v1/forms/{formId}":{"get":{"tags":["Forms:v1:Forms"],"summary":"Get form","description":"Retrieve single form information by its unique ID","operationId":"get_form_forms_v1_forms__formId__get","parameters":[{"description":"Form id to return","required":true,"schema":{"type":"integer","minimum":1,"title":"Formid","description":"Form id to return"},"name":"formId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FormResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/forms/v1/forms":{"get":{"tags":["Forms:v1:Forms"],"summary":"Get forms","description":"Retrieve a list of forms associated with the account","operationId":"get_forms_forms_v1_forms_get","parameters":[{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_FormsGetResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/forms/v1/forms/{formId}/form-submissions":{"get":{"tags":["Forms:v1:Form Submissions"],"summary":"Get form submissions","description":"Retrieve a list of form submissions by form ID","operationId":"get_form_submissions_forms_v1_forms__formId__form_submissions_get","parameters":[{"description":"Form Id","required":true,"schema":{"type":"integer","title":"Formid","description":"Form Id"},"name":"formId","in":"path"},{"description":"Filter by submitting user ids","required":false,"schema":{"items":{"type":"integer"},"type":"array","title":"Userids","description":"Filter by submitting user ids"},"name":"userIds","in":"query"},{"description":"Filter form submissions that were submitted from this timestamp","required":false,"schema":{"type":"integer","title":"Submittingstarttimestamp","description":"Filter form submissions that were submitted from this timestamp"},"name":"submittingStartTimestamp","in":"query"},{"description":"Filter form submissions that were submitted until this timestamp","required":false,"schema":{"type":"integer","title":"Submittingendtime","description":"Filter form submissions that were submitted until this timestamp"},"name":"submittingEndTime","in":"query"},{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_FormsSubmissionsGetResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/forms/v1/forms/{formId}/form-submissions/{formSubmissionId}":{"get":{"tags":["Forms:v1:Form Submissions"],"summary":"Get form submission","description":"Retrieve a single form submission by form submission ID","operationId":"get_form_submission_forms_v1_forms__formId__form_submissions__formSubmissionId__get","parameters":[{"description":"Form Id","required":true,"schema":{"type":"integer","title":"Formid","description":"Form Id"},"name":"formId","in":"path"},{"description":"Filter by Form submission id","required":true,"schema":{"type":"string","title":"Formsubmissionid","description":"Filter by Form submission id"},"name":"formSubmissionId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FormsSubmissionGetResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"put":{"tags":["Forms:v1:Form Submissions"],"summary":"Update form submission","description":"Update a single form submission by form submission ID. Currently, updates are only supported for manager fields.","operationId":"update_form_submissions_forms_v1_forms__formId__form_submissions__formSubmissionId__put","parameters":[{"description":"Form Id","required":true,"schema":{"type":"integer","title":"Formid","description":"Form Id"},"name":"formId","in":"path"},{"description":"Filter by Form submission id","required":true,"schema":{"type":"string","title":"Formsubmissionid","description":"Filter by Form submission id"},"name":"formSubmissionId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormSubmissionPutRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FormsSubmissionPutResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/scheduler/v1/schedulers":{"get":{"tags":["Scheduler:v1:Schedulers"],"summary":"Get schedulers","description":"Retrieve a list of schedulers associated with the account","operationId":"get_schedulers_scheduler_v1_schedulers_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_SchedulersResponse_"}}}}},"security":[{"APIKeyHeader":[]}]}},"/scheduler/v1/schedulers/user-unavailability":{"get":{"tags":["Scheduler:v1:Schedulers:Unavailabilities"],"summary":"Get user unavailabilities","description":"Retrieve a list of user unavailabilities, approved time-off requests and assigned shifts","operationId":"get_unavailabilities_scheduler_v1_schedulers_user_unavailability_get","parameters":[{"description":"The unique identifier of the user","required":true,"schema":{"type":"integer","title":"Userid","description":"The unique identifier of the user"},"name":"userId","in":"query"},{"description":"The start time to filter by in Unix format (in seconds)","required":true,"schema":{"type":"integer","minimum":1,"title":"Starttime","description":"The start time to filter by in Unix format (in seconds)"},"name":"startTime","in":"query"},{"description":"The end time to filter by in Unix format (in seconds)","required":true,"schema":{"type":"integer","minimum":1,"title":"Endtime","description":"The end time to filter by in Unix format (in seconds)"},"name":"endTime","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetUnavailabilitiesResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/scheduler/v1/schedulers/{schedulerId}/shifts":{"get":{"tags":["Scheduler:v1:Schedulers:Scheduler:Shifts"],"summary":"Get shifts","description":"Retrieve a list of shifts under a specific scheduler","operationId":"get_shifts_scheduler_v1_schedulers__schedulerId__shifts_get","parameters":[{"description":"The unique identifier of the scheduler","required":true,"schema":{"type":"integer","title":"Schedulerid","description":"The unique identifier of the scheduler"},"name":"schedulerId","in":"path"},{"description":"The start time to filter by in Unix format (in seconds)","required":true,"schema":{"type":"integer","minimum":1,"title":"Starttime","description":"The start time to filter by in Unix format (in seconds)"},"name":"startTime","in":"query"},{"description":"The end time to filter by in Unix format (in seconds)","required":true,"schema":{"type":"integer","minimum":1,"title":"Endtime","description":"The end time to filter by in Unix format (in seconds)"},"name":"endTime","in":"query"},{"description":"Filter shifts that are open shifts","required":false,"schema":{"type":"boolean","title":"Isopenshift","description":"Filter shifts that are open shifts"},"name":"isOpenShift","in":"query"},{"description":"Filter shifts that are published","required":false,"schema":{"type":"boolean","title":"Ispublished","description":"Filter shifts that are published"},"name":"isPublished","in":"query"},{"description":"Filter shifts that require admin approval","required":false,"schema":{"type":"boolean","title":"Isrequireadminapproval","description":"Filter shifts that require admin approval"},"name":"isRequireAdminApproval","in":"query"},{"description":"List of job IDs","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Jobid","description":"List of job IDs"},"name":"jobId","in":"query"},{"description":"List of user IDs","required":false,"schema":{"items":{"type":"integer","minimum":1},"type":"array","title":"Assigneduserids","description":"List of user IDs"},"name":"assignedUserIds","in":"query"},{"description":"List of shift IDs","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Shiftid","description":"List of shift IDs"},"name":"shiftId","in":"query"},{"description":"Title of the shift","required":false,"schema":{"type":"string","title":"Title","description":"Title of the shift"},"name":"title","in":"query"},{"description":"Sort key","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/ShiftsSortKeysExternal"}],"description":"Sort key"},"name":"sort","in":"query"},{"description":"Sort order, set only if sort key is set","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/SortOrder"}],"description":"Sort order, set only if sort key is set","default":"asc"},"name":"order","in":"query"},{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_ShiftBulkResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"put":{"tags":["Scheduler:v1:Schedulers:Scheduler:Shifts"],"summary":"Update shifts","description":"Update single or multiple shifts under a specific scheduler","operationId":"update_shifts_scheduler_v1_schedulers__schedulerId__shifts_put","parameters":[{"description":"The unique identifier of the scheduler","required":true,"schema":{"type":"integer","title":"Schedulerid","description":"The unique identifier of the scheduler"},"name":"schedulerId","in":"path"},{"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","required":false,"schema":{"type":"boolean","title":"Notifyusers","description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true},"name":"notifyUsers","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ShiftUpdateRequest"},"type":"array","title":"Shifts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ShiftBulkResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Scheduler:v1:Schedulers:Scheduler:Shifts"],"summary":"Create shifts","description":"Create single or multiple shifts under a specific scheduler","operationId":"create_shifts_scheduler_v1_schedulers__schedulerId__shifts_post","parameters":[{"description":"The unique identifier of the scheduler","required":true,"schema":{"type":"integer","title":"Schedulerid","description":"The unique identifier of the scheduler"},"name":"schedulerId","in":"path"},{"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","required":false,"schema":{"type":"boolean","title":"Notifyusers","description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true},"name":"notifyUsers","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ShiftCreateRequest"},"type":"array","maxItems":500,"title":"Shifts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ShiftBulkResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Scheduler:v1:Schedulers:Scheduler:Shifts"],"summary":"Delete shifts","description":"Delete single or multiple shifts in a specified scheduler","operationId":"delete_shifts_by_ids_scheduler_v1_schedulers__schedulerId__shifts_delete","parameters":[{"description":"The unique identifier of the scheduler","required":true,"schema":{"type":"integer","title":"Schedulerid","description":"The unique identifier of the scheduler"},"name":"schedulerId","in":"path"},{"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","required":false,"schema":{"type":"boolean","title":"Notifyusers","description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true},"name":"notifyUsers","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShiftBulkDeleteRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ShiftBulkDeleteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/scheduler/v1/schedulers/{schedulerId}/shifts/{shiftId}":{"get":{"tags":["Scheduler:v1:Schedulers:Scheduler:Shifts"],"summary":"Get shift","description":"Retrieve single shift information by its unique ID","operationId":"get_shift_by_id_scheduler_v1_schedulers__schedulerId__shifts__shiftId__get","parameters":[{"description":"The unique identifier of the shift","required":true,"schema":{"type":"string","title":"Shiftid","description":"The unique identifier of the shift"},"name":"shiftId","in":"path"},{"description":"The unique identifier of the scheduler","required":true,"schema":{"type":"integer","title":"Schedulerid","description":"The unique identifier of the scheduler"},"name":"schedulerId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ShiftResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Scheduler:v1:Schedulers:Scheduler:Shifts"],"summary":"Delete shift","description":"Delete a single shift by its unique ID","operationId":"delete_shift_by_id_scheduler_v1_schedulers__schedulerId__shifts__shiftId__delete","parameters":[{"description":"The ID of the shift to delete","required":true,"schema":{"type":"string","title":"Shiftid","description":"The ID of the shift to delete"},"name":"shiftId","in":"path"},{"description":"The unique identifier of the scheduler","required":true,"schema":{"type":"integer","title":"Schedulerid","description":"The unique identifier of the scheduler"},"name":"schedulerId","in":"path"},{"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","required":false,"schema":{"type":"boolean","title":"Notifyusers","description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true},"name":"notifyUsers","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ShiftDeleteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/scheduler/v1/schedulers/{schedulerId}/shift-layers":{"get":{"tags":["Scheduler:v1:Schedulers:Scheduler:Shift layers"],"summary":"Get shift layers","description":"Retrieve a list of shift layers under a specified scheduler","operationId":"get_shift_layers_scheduler_v1_schedulers__schedulerId__shift_layers_get","parameters":[{"description":"The unique identifier of the scheduler","required":true,"schema":{"type":"integer","title":"Schedulerid","description":"The unique identifier of the scheduler"},"name":"schedulerId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetSchedulerShiftLayersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/scheduler/v1/schedulers/{schedulerId}/shift-layers/{layerId}/values":{"get":{"tags":["Scheduler:v1:Schedulers:Scheduler:Shift layers"],"summary":"Get shift layer values","description":"Retrieve the possible values of a shift layer","operationId":"get_shift_layer_values_scheduler_v1_schedulers__schedulerId__shift_layers__layerId__values_get","parameters":[{"description":"The unique identifier of the scheduler","required":true,"schema":{"type":"integer","title":"Schedulerid","description":"The unique identifier of the scheduler"},"name":"schedulerId","in":"path"},{"description":"The unique identifier of the layer","required":true,"schema":{"type":"string","title":"Layerid","description":"The unique identifier of the layer"},"name":"layerId","in":"path"},{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_GetSchedulerShiftLayerValuesResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/jobs/v1/jobs":{"get":{"tags":["Jobs:v1:Jobs"],"summary":"Get jobs","description":"Get a list of job objects relevant to instance id (scheduler id or time clock id).\nIf unified jobs are disabled, only schedulers are supported","operationId":"get_jobs_jobs_v1_jobs_get","parameters":[{"description":"List of instance IDs (scheduler id or time clock id) to filter by","required":false,"schema":{"items":{"type":"integer"},"type":"array","title":"Instanceids","description":"List of instance IDs (scheduler id or time clock id) to filter by"},"name":"instanceIds","in":"query"},{"description":"List of job IDs to filter by. In cases where a job ID includes nested sub-jobs, all sub-jobs under that parent job will be retrieved alongside with the parent job. Note that this filter does not support direct querying by sub-job IDs. To retrieve specific sub-jobs, please use the Get Job endpoint","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Jobids","description":"List of job IDs to filter by. In cases where a job ID includes nested sub-jobs, all sub-jobs under that parent job will be retrieved alongside with the parent job. Note that this filter does not support direct querying by sub-job IDs. To retrieve specific sub-jobs, please use the Get Job endpoint"},"name":"jobIds","in":"query"},{"description":"List of job names to filter by. In case where a sub-job name is provided, the relevant sub-job with all other nested sub-jobs will be retrieved alongside with the parent job.","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Jobnames","description":"List of job names to filter by. In case where a sub-job name is provided, the relevant sub-job with all other nested sub-jobs will be retrieved alongside with the parent job."},"name":"jobNames","in":"query"},{"description":"List of job codes to filter by. In case where a sub-job code is provided, the relevant sub-job with all other nested sub-jobs will be retrieved alongside with the parent job.","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Jobcodes","description":"List of job codes to filter by. In case where a sub-job code is provided, the relevant sub-job with all other nested sub-jobs will be retrieved alongside with the parent job."},"name":"jobCodes","in":"query"},{"description":"Determines whether the response includes jobs that have been deleted. Default value is set to true.","required":false,"schema":{"type":"boolean","title":"Includedeleted","description":"Determines whether the response includes jobs that have been deleted. Default value is set to true.","default":true},"name":"includeDeleted","in":"query"},{"description":"Sort key","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/JobsSortKeysExternal"}],"description":"Sort key"},"name":"sort","in":"query"},{"description":"Sort order, set only if sort key is set","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/SortOrder"}],"description":"Sort order, set only if sort key is set","default":"asc"},"name":"order","in":"query"},{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_JobsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Jobs:v1:Jobs"],"summary":"Create jobs","description":"Create individual or multiple jobs under a specified scheduler","operationId":"create_jobs_jobs_v1_jobs_post","requestBody":{"content":{"application/json":{"schema":{"items":{"anyOf":[{"$ref":"#/components/schemas/JobCreateRequest"},{"$ref":"#/components/schemas/SubJobCreateRequest"}]},"type":"array","maxItems":500,"title":"Jobs","description":"Request model for the new Jobs"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_JobsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/jobs/v1/jobs/{jobId}":{"get":{"tags":["Jobs:v1:Job"],"summary":"Get job","description":"Retrieve a single job information by its unique ID","operationId":"get_job_jobs_v1_jobs__jobId__get","parameters":[{"description":"The unique identifier of the job","required":true,"schema":{"type":"string","title":"Jobid","description":"The unique identifier of the job"},"name":"jobId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_JobResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"put":{"tags":["Jobs:v1:Job"],"summary":"Update job","description":"Update a single job by its unique identifier. Currently, updating job with nested sub-jobs is not supported.","operationId":"update_job_jobs_v1_jobs__jobId__put","parameters":[{"description":"The unique identifier of the job","required":true,"schema":{"type":"string","title":"Jobid","description":"The unique identifier of the job"},"name":"jobId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SubJobUpdateRequest"},{"$ref":"#/components/schemas/JobUpdateRequest"}],"title":"Job Request"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_JobResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Jobs:v1:Job"],"summary":"Delete job","description":"Delete a single job by its unique identifier.\n        Currently, deleting a sub-job and/or job with nested sub-jobs is not supported.","operationId":"delete_job_jobs_v1_jobs__jobId__delete","parameters":[{"description":"The unique identifier of the job","required":true,"schema":{"type":"string","title":"Jobid","description":"The unique identifier of the job"},"name":"jobId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DeleteJobResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/users/v1/users":{"get":{"tags":["Users:v1:Users"],"summary":"Get users","description":"Retrieves a list of all users associated with the account. Optionally, filter by user ID to receive specific user information","operationId":"get_users_users_v1_users_get","parameters":[{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"},{"description":"Sort key","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/UsersSortKeysExternal"}],"description":"Sort key"},"name":"sort","in":"query"},{"description":"Sort order, set only if sort key is set","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/SortOrder"}],"description":"Sort order, set only if sort key is set","default":"asc"},"name":"order","in":"query"},{"description":"List of user IDs for filtering.","required":false,"schema":{"items":{"type":"integer","minimum":1},"type":"array","title":"Userids","description":"List of user IDs for filtering."},"name":"userIds","in":"query"},{"description":"Filter users by status. Default is active.","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/UserStatus"}],"description":"Filter users by status. Default is active.","default":"active"},"name":"userStatus","in":"query"},{"description":"List of full names to filter by. Specify the exact first and last name with a space between them as shown in the platform (ignore capitalization).","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Fullnames","description":"List of full names to filter by. Specify the exact first and last name with a space between them as shown in the platform (ignore capitalization)."},"name":"fullNames","in":"query"},{"description":"List of phone numbers to filter by (in format +<country code><phone number>).","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Phonenumbers","description":"List of phone numbers to filter by (in format +<country code><phone number>)."},"name":"phoneNumbers","in":"query"},{"description":"List of email addresses to filter by (in format test@test.com).","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Emailaddresses","description":"List of email addresses to filter by (in format test@test.com)."},"name":"emailAddresses","in":"query"},{"description":"Parameter specifying the date in Unix format (in seconds). Only users created after this date will be included in the results.","required":false,"schema":{"type":"integer","minimum":1,"title":"Createdat","description":"Parameter specifying the date in Unix format (in seconds). Only users created after this date will be included in the results."},"name":"createdAt","in":"query"},{"description":"Parameter specifying the date in in Unix format (in seconds). Only users with fields updated after this date will be included in the results.","required":false,"schema":{"type":"integer","minimum":1,"title":"Modifiedat","description":"Parameter specifying the date in in Unix format (in seconds). Only users with fields updated after this date will be included in the results."},"name":"modifiedAt","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_UsersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"put":{"tags":["Users:v1:Users"],"summary":"Update users","description":"Update individual or multiple users associated with the account using the provided details. You can specify updates either by their phone number or unique userID.","operationId":"edit_users_users_v1_users_put","parameters":[{"description":"Optional flag to edit users by phone (default by user id).","required":false,"schema":{"type":"boolean","title":"Editusersbyphone","description":"Optional flag to edit users by phone (default by user id).","default":false},"name":"editUsersByPhone","in":"query"},{"description":"Indicates whether to include smart group IDs in the response body for the updated user(s). Please note that setting this value to true may increase the request time significantly.","required":false,"schema":{"type":"boolean","title":"Includesmartgroupids","description":"Indicates whether to include smart group IDs in the response body for the updated user(s). Please note that setting this value to true may increase the request time significantly.","default":true},"name":"includeSmartGroupIds","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/UserEditRequest"},"type":"array","maxItems":25,"title":"Users","description":"List of users to edit."}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_EditUsersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Users:v1:Users"],"summary":"Create users","description":"Create individual or multiple users associated with the account using the provided details.","operationId":"create_users_users_v1_users_post","parameters":[{"description":"Optional flag to send activation sms.","required":false,"schema":{"type":"boolean","title":"Sendactivation","description":"Optional flag to send activation sms.","default":false},"name":"sendActivation","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/UserCreateRequest"},"type":"array","maxItems":25,"title":"Users","description":"List of users to create."}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_CreateUsersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Users:v1:Users"],"summary":"Archive users","description":"Archive individual or multiple users associated with the account by their unique userID.","operationId":"archive_users_users_v1_users_delete","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"integer","minimum":1},"type":"array","title":"Userids"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ArchiveUsersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/users/v1/custom-fields":{"get":{"tags":["Users:v1:Custom Fields"],"summary":"Get custom fields","description":"Retrieves all custom fields associated with the account. Optionally, filter the results by categories, names, types, or custom field IDs.","operationId":"get_custom_fields_users_v1_custom_fields_get","parameters":[{"description":"Custom field ids to filter by","required":false,"schema":{"items":{"type":"integer"},"type":"array","title":"Customfieldids","description":"Custom field ids to filter by"},"name":"customFieldIds","in":"query"},{"description":"Custom field category ids to filter by","required":false,"schema":{"items":{"type":"integer"},"type":"array","title":"Categoryids","description":"Custom field category ids to filter by"},"name":"categoryIds","in":"query"},{"description":"Custom field types to filter by","required":false,"schema":{"items":{"$ref":"#/components/schemas/UserCustomFields"},"type":"array","description":"Custom field types to filter by"},"name":"customFieldTypes","in":"query"},{"description":"Custom field names to filter by","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Customfieldnames","description":"Custom field names to filter by"},"name":"customFieldNames","in":"query"},{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"},{"description":"Sort key","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/CustomFieldsSortExternal"}],"description":"Sort key"},"name":"sort","in":"query"},{"description":"Sort order, set only if sort key is set","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/SortOrder"}],"description":"Sort order, set only if sort key is set","default":"asc"},"name":"order","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_GetCustomFieldsSettingsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"put":{"tags":["Users:v1:Custom Fields"],"summary":"Update custom fields","description":"Update custom fields settings by their unique ID","operationId":"update_custom_fields_users_v1_custom_fields_put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_update_custom_fields_users_v1_custom_fields_put"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetCustomFieldsSettingsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Users:v1:Custom Fields"],"summary":"Create custom fields","description":"Create individual or multiple custom fields associated with the account under a specific category.","operationId":"create_custom_fields_users_v1_custom_fields_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_create_custom_fields_users_v1_custom_fields_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetCustomFieldsSettingsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Users:v1:Custom Fields"],"summary":"Delete custom fields","description":"Delete individual or multiple custom fields associated with the account by their unique ID.","operationId":"delete_custom_fields_users_v1_custom_fields_delete","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_delete_custom_fields_users_v1_custom_fields_delete"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_BulkDeleteCustomFieldResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/users/v1/custom-fields/{customFieldId}/options":{"get":{"tags":["Users:v1:Custom Fields:Custom Field options"],"summary":"Get custom field options","description":"Retrieve a list of all dropdown value options under a specified custom field","operationId":"get_custom_field_options_users_v1_custom_fields__customFieldId__options_get","parameters":[{"description":"The unique identifier of the custom field","required":true,"schema":{"type":"integer","title":"Customfieldid","description":"The unique identifier of the custom field"},"name":"customFieldId","in":"path"},{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"},{"description":"Parameter specifying the if to filter only for disabled options.","required":false,"schema":{"type":"boolean","title":"Isdisabled","description":"Parameter specifying the if to filter only for disabled options."},"name":"isDisabled","in":"query"},{"description":"Parameter specifying the if to filter only for deleted options.","required":false,"schema":{"type":"boolean","title":"Isdeleted","description":"Parameter specifying the if to filter only for deleted options.","default":false},"name":"isDeleted","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_CustomFieldOptionsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Users:v1:Custom Fields:Custom Field options"],"summary":"Create custom field option","description":"Add new option for a specified custom field.The option will be added to the existing ones and will not overwrite them.Currently supports dropdown custom fields options.","operationId":"create_custom_field_option_users_v1_custom_fields__customFieldId__options_post","parameters":[{"description":"The unique identifier of the custom field","required":true,"schema":{"type":"integer","title":"Customfieldid","description":"The unique identifier of the custom field"},"name":"customFieldId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDropdownCustomFieldOption"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DropdownCustomFieldOptionResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/users/v1/custom-fields/{customFieldId}/options/{optionId}":{"put":{"tags":["Users:v1:Custom Fields:Custom Field options"],"summary":"Update custom field option","description":"Update the value for an option under a specified custom field","operationId":"edit_custom_field_option_users_v1_custom_fields__customFieldId__options__optionId__put","parameters":[{"description":"The unique identifier of the option to update","required":true,"schema":{"type":"integer","title":"Optionid","description":"The unique identifier of the option to update"},"name":"optionId","in":"path"},{"description":"The unique identifier of the custom field","required":true,"schema":{"type":"integer","title":"Customfieldid","description":"The unique identifier of the custom field"},"name":"customFieldId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditSingleDropdownCustomFieldOption"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DropdownCustomFieldOptionResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Users:v1:Custom Fields:Custom Field options"],"summary":"Delete custom field option","description":"Delete the value for an option under a specified custom field","operationId":"delete_custom_field_option_users_v1_custom_fields__customFieldId__options__optionId__delete","parameters":[{"description":"The unique identifier of the option to delete","required":true,"schema":{"type":"integer","title":"Optionid","description":"The unique identifier of the option to delete"},"name":"optionId","in":"path"},{"description":"The unique identifier of the custom field","required":true,"schema":{"type":"integer","title":"Customfieldid","description":"The unique identifier of the custom field"},"name":"customFieldId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_BaseResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/users/v1/custom-field-categories":{"get":{"tags":["Users:v1:Custom Field Categories"],"summary":"Get custom field categories","description":"Retrieves all custom fields categories associated with the account. Optionally, filter the results by category IDs and/or names.","operationId":"get_custom_fields_users_v1_custom_field_categories_get","parameters":[{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"},{"description":"Custom field category ids to filter by","required":false,"schema":{"items":{"type":"integer"},"type":"array","title":"Categoryids","description":"Custom field category ids to filter by"},"name":"categoryIds","in":"query"},{"description":"Custom field category names to filter by","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Categorynames","description":"Custom field category names to filter by"},"name":"categoryNames","in":"query"},{"description":"Sort key","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/CustomFieldCategoriesSortExternal"}],"description":"Sort key"},"name":"sort","in":"query"},{"description":"Sort order, set only if sort key is set","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/SortOrder"}],"description":"Sort order, set only if sort key is set","default":"asc"},"name":"order","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_CustomFieldCategoriesResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/users/v1/smart-groups":{"get":{"tags":["Users:v1:Smart Groups"],"summary":"Get smart groups","description":"Retrieves a list of smart groups associated with the account.","operationId":"get_smart_groups_users_v1_smart_groups_get","parameters":[{"description":"The unique identifier of the smart group.","required":false,"schema":{"type":"integer","title":"Id","description":"The unique identifier of the smart group."},"name":"id","in":"query"},{"description":"The name of the smart group to filter by.","required":false,"schema":{"type":"string","title":"Name","description":"The name of the smart group to filter by."},"name":"name","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetSmartGroupsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/users/v1/admins":{"post":{"tags":["Users:v1:Admins"],"summary":"Promote to admin","description":"Promote an existing user to an admin. An invitation link will be sent to the specified email address of the user","operationId":"invite_admin_users_v1_admins_post","requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/InviteAdminsRequest"}],"title":"Invite Admin Request","description":"The data for the user who is to be promoted"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_BaseResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/users/v1/users/{userId}/notes":{"post":{"tags":["Users:v1:Notes"],"summary":"Create user note","description":"Create new note on the profile of the specified user","operationId":"create_note_users_v1_users__userId__notes_post","parameters":[{"description":"The unique identifier of user to create note for","required":true,"schema":{"type":"integer","title":"Userid","description":"The unique identifier of user to create note for"},"name":"userId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoteCreateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_NoteCreateResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/users/v1/users/{userId}/payslips":{"post":{"tags":["Users:v1:Payslips"],"summary":"Upload a payslip","description":"Upload a payslip for a user for a specified period. The payslip attachment must be uploaded first via the attachments endpoint.","operationId":"create_payslip_users_v1_users__userId__payslips_post","parameters":[{"description":"The unique identifier of the user","required":true,"schema":{"type":"integer","title":"Userid","description":"The unique identifier of the user"},"name":"userId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayslipCreateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_BaseResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/time-off/v1/policy-types":{"get":{"tags":["TimeOff:v1:PolicyTypes"],"summary":"Get policy types","description":"Retrieve a list of policy types associated with the account","operationId":"get_policy_groups_time_off_v1_policy_types_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_TimeOffGetPolicyTypesResponse_"}}}}},"security":[{"APIKeyHeader":[]}]}},"/time-off/v1/policy-types/{policyTypeId}/balances":{"get":{"tags":["TimeOff:v1:Balances"],"summary":"Get user balances","description":"Retrieve a list of user time-off balances within a policy type","operationId":"get_balances_time_off_v1_policy_types__policyTypeId__balances_get","parameters":[{"description":"Policy type id","required":true,"schema":{"type":"string","title":"Policytypeid","description":"Policy type id"},"name":"policyTypeId","in":"path"},{"description":"List of user ids","required":false,"schema":{"items":{"type":"integer","minimum":1},"type":"array","title":"Userids","description":"List of user ids"},"name":"userIds","in":"query"},{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_TimeOffGetUserBalancesResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/time-off/v1/policy-types/{policyTypeId}/balances/{userId}":{"put":{"tags":["TimeOff:v1:Balances"],"summary":"Update user balance","description":"Update user time-off balance within a policy type","operationId":"put_user_balance_time_off_v1_policy_types__policyTypeId__balances__userId__put","parameters":[{"description":"Policy type id","required":true,"schema":{"type":"string","title":"Policytypeid","description":"Policy type id"},"name":"policyTypeId","in":"path"},{"description":"The ID of the user to update balance","required":true,"schema":{"type":"integer","minimum":1,"title":"Userid","description":"The ID of the user to update balance"},"name":"userId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/TimeOffUpdateUserBalanceRequest"}],"title":"Request","description":"The balance to update to"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_TimeOffPutUserBalanceResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/time-off/v1/requests":{"post":{"tags":["TimeOff:v1:TimeOffRequests"],"summary":"Create time off request","description":"Create a new time-off request for a user under a specified policy. The time-off request can be either in pending or approved status.","operationId":"post_time_off_request_time_off_v1_requests_post","requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/TimeOffRequestCreateRequest"}],"title":"Time Off Request Create Request","description":"Request model for the new Time Off Request"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_TimeOffRequestCreateResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/time-clock/v1/time-clocks":{"get":{"tags":["TimeClock:v1:TimeClocks"],"summary":"Get time clocks","description":"Retrieve a list of time clocks associated with the account","operationId":"get_time_clocks_time_clock_v1_time_clocks_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_TimeClocksResponse_"}}}}},"security":[{"APIKeyHeader":[]}]}},"/time-clock/v1/time-clocks/{timeClockId}/time-activities":{"get":{"tags":["TimeClock:v1:TimeClocks:TimeClock:TimeActivities"],"summary":"Get time activities","description":"Retrieve a list of time activities in under a specified time clock.\nTime activities include shift and/or manual breaks","operationId":"get_time_activities_time_clock_v1_time_clocks__timeClockId__time_activities_get","parameters":[{"description":"The unique identifier of the time clock","required":true,"schema":{"type":"integer","title":"Timeclockid","description":"The unique identifier of the time clock"},"name":"timeClockId","in":"path"},{"description":"The start time to filter by in ISO 8601 format (YYYY-MM-DD)","required":true,"schema":{"type":"string","title":"Startdate","description":"The start time to filter by in ISO 8601 format (YYYY-MM-DD)"},"name":"startDate","in":"query"},{"description":"The end time to filter by in ISO 8601 format (YYYY-MM-DD)","required":true,"schema":{"type":"string","title":"Enddate","description":"The end time to filter by in ISO 8601 format (YYYY-MM-DD)"},"name":"endDate","in":"query"},{"description":"Filter time activities by a list of user IDs","required":false,"schema":{"items":{"type":"integer","minimum":1},"type":"array","title":"Userids","description":"Filter time activities by a list of user IDs"},"name":"userIds","in":"query"},{"description":"The job IDs of shifts","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Jobids","description":"The job IDs of shifts"},"name":"jobIds","in":"query"},{"description":"The manual break IDs of manual breaks","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Manualbreakids","description":"The manual break IDs of manual breaks"},"name":"manualBreakIds","in":"query"},{"description":"The policy type IDs of time offs","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Policytypeids","description":"The policy type IDs of time offs"},"name":"policyTypeIds","in":"query"},{"description":"The time activity types: shift, manual_break or time_off","required":false,"schema":{"items":{"$ref":"#/components/schemas/TimeActivityAPIType"},"type":"array","description":"The time activity types: shift, manual_break or time_off"},"name":"activityTypes","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_TimeActivitiesGetResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"put":{"tags":["TimeClock:v1:TimeClocks:TimeClock:TimeActivities"],"summary":"Update time activities","description":"Update time activities for users assigned to a specific time clock. Time activities can include adjustments to shifts and/or manual breaks.","operationId":"update_time_activities_time_clock_v1_time_clocks__timeClockId__time_activities_put","parameters":[{"description":"The unique identifier of the time clock","required":true,"schema":{"type":"integer","title":"Timeclockid","description":"The unique identifier of the time clock"},"name":"timeClockId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivitiesUpdateRequestList"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_TimeActivitiesUpdateResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["TimeClock:v1:TimeClocks:TimeClock:TimeActivities"],"summary":"Create time activities","description":"Create multiple time activities in a time clock","operationId":"create_time_activities_time_clock_v1_time_clocks__timeClockId__time_activities_post","parameters":[{"description":"The unique identifier of the time clock","required":true,"schema":{"type":"integer","title":"Timeclockid","description":"The unique identifier of the time clock"},"name":"timeClockId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/TimeActivitiesCreateRequestList"}],"title":"Time Activities Request","description":"Request model for the new Time Activities"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_TimeActivitiesCreateResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/time-clock/v1/time-clocks/{timeClockId}/shift-attachments":{"get":{"tags":["TimeClock:v1:TimeClocks:TimeClock:ShiftAttachments"],"summary":"Get shift attachments","description":"Get shift attachments of a time clock","operationId":"get_shift_attachments_time_clock_v1_time_clocks__timeClockId__shift_attachments_get","parameters":[{"description":"The unique identifier of the time clock","required":true,"schema":{"type":"integer","title":"Timeclockid","description":"The unique identifier of the time clock"},"name":"timeClockId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ShiftAttachmentsGetResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/time-clock/v1/time-clocks/{timeClockId}/manual-breaks":{"get":{"tags":["TimeClock:v1:TimeClocks:TimeClock:ManualBreaks"],"summary":"Get manual breaks","description":"Get multiple manual breaks of a time clock","operationId":"get_manual_breaks_time_clock_v1_time_clocks__timeClockId__manual_breaks_get","parameters":[{"description":"The unique identifier of the time clock","required":true,"schema":{"type":"integer","title":"Timeclockid","description":"The unique identifier of the time clock"},"name":"timeClockId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ManualBreaksGetResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/time-clock/v1/time-clocks/{timeClockId}/clock-in":{"post":{"tags":["TimeClock:v1:TimeClocks:TimeClock:ClockIn"],"summary":"Clock in","description":"Record the start time for the work period of an employee. The start time is automatically captured when the call is executed.","operationId":"clock_user_in_time_clock_v1_time_clocks__timeClockId__clock_in_post","parameters":[{"description":"The unique identifier of the time clock","required":true,"schema":{"type":"integer","title":"Timeclockid","description":"The unique identifier of the time clock"},"name":"timeClockId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClockInRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ClockInResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/time-clock/v1/time-clocks/{timeClockId}/clock-out":{"post":{"tags":["TimeClock:v1:TimeClocks:TimeClock:ClockOut"],"summary":"Clock out","description":"Record the end time for the work period of an employee. The end time is automatically captured when the call is executed. The clock-out will be associated with the current open shift.","operationId":"clock_user_out_time_clock_v1_time_clocks__timeClockId__clock_out_post","parameters":[{"description":"The unique identifier of the time clock","required":true,"schema":{"type":"integer","title":"Timeclockid","description":"The unique identifier of the time clock"},"name":"timeClockId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClockOutRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ClockOutResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/tasks/v1/taskboards/{taskBoardId}/tasks/{taskId}":{"put":{"tags":["Tasks:v1:Tasks:TasksBoards"],"summary":"Update task","description":"Update a quick task under a specified task board","operationId":"update_task_tasks_v1_taskboards__taskBoardId__tasks__taskId__put","parameters":[{"description":"The unique identifier of the task.","required":true,"schema":{"type":"string","title":"Taskid","description":"The unique identifier of the task."},"name":"taskId","in":"path"},{"description":"The unique identifier of the taskBoard","required":true,"schema":{"type":"string","title":"Taskboardid","description":"The unique identifier of the taskBoard"},"name":"taskBoardId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_UpdateTaskResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Tasks:v1:Tasks:TasksBoards"],"summary":"Delete task","description":"Delete quick task under a specified task board","operationId":"delete_task_tasks_v1_taskboards__taskBoardId__tasks__taskId__delete","parameters":[{"description":"The unique identifier of the task","required":true,"schema":{"type":"string","title":"Taskid","description":"The unique identifier of the task"},"name":"taskId","in":"path"},{"description":"The unique identifier of the taskBoard","required":true,"schema":{"type":"string","title":"Taskboardid","description":"The unique identifier of the taskBoard"},"name":"taskBoardId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DeleteTaskResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/tasks/v1/taskboards/{taskBoardId}/tasks":{"get":{"tags":["Tasks:v1:Tasks:TasksBoards"],"summary":"Get tasks","description":"Retrieves a list of tasks under a specified task board","operationId":"get_tasks_tasks_v1_taskboards__taskBoardId__tasks_get","parameters":[{"description":"The unique identifier of the taskBoard","required":true,"schema":{"type":"string","title":"Taskboardid","description":"The unique identifier of the taskBoard"},"name":"taskBoardId","in":"path"},{"description":"List of task IDs to filter by","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Taskids","description":"List of task IDs to filter by"},"name":"taskIds","in":"query"},{"description":"List of label IDs to filter by. Tasks retrieved will include the specified label(s), but may also include additional labels.","required":false,"schema":{"items":{"type":"string"},"type":"array","title":"Labelids","description":"List of label IDs to filter by. Tasks retrieved will include the specified label(s), but may also include additional labels."},"name":"labelIds","in":"query"},{"description":"List of assigned user IDs on the task to filter by. Group tasks will be also included in the results.","required":false,"schema":{"items":{"type":"integer"},"type":"array","title":"Userids","description":"List of assigned user IDs on the task to filter by. Group tasks will be also included in the results."},"name":"userIds","in":"query"},{"description":"draft/published/completed/all - all is by default","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/TaskStatusFilter"}],"description":"draft/published/completed/all - all is by default","default":"all"},"name":"status","in":"query"},{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_TasksResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Tasks:v1:Tasks:TasksBoards"],"summary":"Create task","description":"Create quick task for specified users by their ID, detailing information such as title, due date and description.","operationId":"create_task_tasks_v1_taskboards__taskBoardId__tasks_post","parameters":[{"description":"The unique identifier of the taskBoard","required":true,"schema":{"type":"string","title":"Taskboardid","description":"The unique identifier of the taskBoard"},"name":"taskBoardId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTaskRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_CreateTaskResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/tasks/v1/taskboards":{"get":{"tags":["Tasks:v1:TaskBoards"],"summary":"Get task boards","description":"Retrieve a list of task boards associated with the account","operationId":"get_tasks_boards_tasks_v1_taskboards_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetTasksBoardsResponse_"}}}}},"security":[{"APIKeyHeader":[]}]}},"/tasks/v1/taskboards/{taskBoardId}/labels":{"get":{"tags":["Tasks:v1:TaskLabels"],"summary":"Get task labels","description":"Retrieve a list of task labels associated with the account","operationId":"get_task_labels_tasks_v1_taskboards__taskBoardId__labels_get","parameters":[{"description":"The unique identifier of the task board to filter by","required":true,"schema":{"type":"string","title":"Taskboardid","description":"The unique identifier of the task board to filter by"},"name":"taskBoardId","in":"path"},{"description":"The title (name) of the label to filter by","required":false,"schema":{"type":"string","title":"Title","description":"The title (name) of the label to filter by"},"name":"title","in":"query"},{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_TaskLabelsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/daily-info/v1/daily-note/{noteId}":{"get":{"tags":["DailyNote:v1:DailyNote"],"summary":"Get note","description":"Get a single note by its unique identifier","operationId":"get_note_daily_info_v1_daily_note__noteId__get","parameters":[{"description":"The unique identifier of the note","required":true,"schema":{"type":"integer","title":"Noteid","description":"The unique identifier of the note"},"name":"noteId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DailyNoteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"put":{"tags":["DailyNote:v1:DailyNote"],"summary":"Update note","description":"Update a single note by its unique identifier","operationId":"update_note_daily_info_v1_daily_note__noteId__put","parameters":[{"description":"The unique identifier of the note","required":true,"schema":{"type":"integer","title":"Noteid","description":"The unique identifier of the note"},"name":"noteId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DailyNoteUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DailyNoteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["DailyNote:v1:DailyNote"],"summary":"Delete note","description":"Delete a single note by its unique identifier","operationId":"delete_note_daily_info_v1_daily_note__noteId__delete","parameters":[{"description":"The unique identifier of the note","required":true,"schema":{"type":"integer","title":"Noteid","description":"The unique identifier of the note"},"name":"noteId","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DeleteDailyNoteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/daily-info/v1/daily-notes":{"post":{"tags":["DailyNote:v1:DailyNotes"],"summary":"Create daily note","description":"Create a note under a specified scheduler for a specific date","operationId":"create_note_daily_info_v1_daily_notes_post","requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/DailyNoteCreateRequest"}],"title":"Note Request","description":"Request model for the new note"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DailyNoteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/chat/v1/conversations":{"get":{"tags":["Chat:v1:Conversations"],"summary":"Get conversations","description":"Retrieves a list of team chats and/or channels associated with the account. The list excludes private conversations.","operationId":"get_conversations_chat_v1_conversations_get","parameters":[{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_ConversationsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/chat/v1/conversations/{conversationId}/message":{"post":{"tags":["Chat:v1:Conversations"],"summary":"Send message","description":"Sends a new message to a specific chat, whether it’s channel or a team chat","operationId":"send_message_to_conversation_chat_v1_conversations__conversationId__message_post","parameters":[{"description":"The unique identifier of the conversation","required":true,"schema":{"type":"string","title":"Conversationid","description":"The unique identifier of the conversation"},"name":"conversationId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationPostMessageRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_BaseResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/chat/v1/conversations/privateMessage/{userId}":{"post":{"tags":["Chat:v1:Conversations"],"summary":"Send private message","description":"Send a private message to a specified user within the account. The sender will be a custom publisher. If a conversation between the custom publisher and the addressed user already exists, it will send the message to the same conversation, if not, it will create a new conversation with the specified user.","operationId":"send_message_to_private_conversation_chat_v1_conversations_privateMessage__userId__post","parameters":[{"description":"The unique identifier of the user","required":true,"schema":{"type":"integer","title":"Userid","description":"The unique identifier of the user"},"name":"userId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationPostMessageRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_BaseResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/publishers/v1/publishers":{"get":{"tags":["Publishers:v1:Publishers"],"summary":"Get publishers","description":"Retrieves a list of custom publishers associated with the account.","operationId":"get_publishers_publishers_v1_publishers_get","parameters":[{"description":"The maximum number of results to display per page","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"title":"Limit","description":"The maximum number of results to display per page","default":10},"name":"limit","in":"query"},{"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","required":false,"schema":{"type":"integer","minimum":0,"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0},"name":"offset","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_PublishersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}}},"webhooks":{"Time activity clock in":{"post":{"summary":"Time Activity Clock In Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_clock_in_eventTime_activity_clock_in_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityClockInWebhookResponse"}}}}}}},"Time activity clock out":{"post":{"summary":"Time Activity Clock Out Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_clock_out_eventTime_activity_clock_out_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityClockOutWebhookResponse"}}}}}}},"Time activity auto clock out":{"post":{"summary":"Time Activity Auto Clock Out Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_auto_clock_out_eventTime_activity_auto_clock_out_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAutoClockOutWebhookResponse"}}}}}}},"Time activity admin add":{"post":{"summary":"Time Activity Admin Add Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_admin_add_eventTime_activity_admin_add_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAdminAddWebhookResponse"}}}}}}},"Time activity admin edit":{"post":{"summary":"Time Activity Admin Edit Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_admin_edit_eventTime_activity_admin_edit_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAdminEditWebhookResponse"}}}}}}},"Time activity admin delete":{"post":{"summary":"Time Activity Admin Delete Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_admin_delete_eventTime_activity_admin_delete_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAdminDeleteWebhookResponse"}}}}}}},"Time activity admin approved clock out outside geo fence request":{"post":{"summary":"Time Activity Admin Approved Clock Out Outside Geo Fence Request Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_admin_approved_clock_out_outside_geo_fence_request_eventTime_activity_admin_approved_clock_out_outside_geo_fence_request_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAdminApprovedClockOutOutsideGeoFenceRequestWebhookResponse"}}}}}}},"Time activity admin approved add request":{"post":{"summary":"Time Activity Admin Approved Add Request Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_admin_approved_add_request_eventTime_activity_admin_approved_add_request_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAdminApprovedAddRequestWebhookResponse"}}}}}}},"Time activity admin approved edit request":{"post":{"summary":"Time Activity Admin Approved Edit Request Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_admin_approved_edit_request_eventTime_activity_admin_approved_edit_request_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAdminApprovedEditRequestWebhookResponse"}}}}}}},"Time activity admin approved delete request":{"post":{"summary":"Time Activity Admin Approved Delete Request Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_admin_approved_delete_request_eventTime_activity_admin_approved_delete_request_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAdminApprovedDeleteRequestWebhookResponse"}}}}}}},"Time activity admin declined request":{"post":{"summary":"Time Activity Admin Declined Request Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_admin_declined_request_eventTime_activity_admin_declined_request_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAdminDeclinedRequestWebhookResponse"}}}}}}},"Time activity auto approved add request":{"post":{"summary":"Time Activity Auto Approved Add Request Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_auto_approved_add_request_eventTime_activity_auto_approved_add_request_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAutoApprovedAddRequestWebhookResponse"}}}}}}},"Time activity auto approved edit request":{"post":{"summary":"Time Activity Auto Approved Edit Request Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_auto_approved_edit_request_eventTime_activity_auto_approved_edit_request_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAutoApprovedEditRequestWebhookResponse"}}}}}}},"Time activity auto approved delete request":{"post":{"summary":"Time Activity Auto Approved Delete Request Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_auto_approved_delete_request_eventTime_activity_auto_approved_delete_request_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAutoApprovedDeleteRequestWebhookResponse"}}}}}}},"Time activity auto approved clock out outside geo fence request":{"post":{"summary":"Time Activity Auto Approved Clock Out Outside Geo Fence Request Event","description":"Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding.","operationId":"time_activity_auto_approved_clock_out_outside_geo_fence_request_eventTime_activity_auto_approved_clock_out_outside_geo_fence_request_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeActivityAutoApprovedClockOutOutsideGeoFenceRequestWebhookResponse"}}}}}}},"Availa
[...]
